body.seeds-root,
body {
  .breadcrumb {
    line-height: 1em;
    padding: 10px 0;
    font-size: 12px;

    li {
      display: inline-block;
      overflow: hidden;
      padding: 5px;

      &:first-child {
        padding-left: 0;
      }

      a {
        color: $dark-gray;

        display: inline-block;
      }
    }
  }
}
