{#
/**
* From drupal_dump()
*  "element" => array:23 [▶]
  "theme_hook_original" => "field"
  "attributes" => Attribute {#4805 ▶}
  "title_attributes" => Attribute {#5253 ▶}
  "content_attributes" => Attribute {#4629 ▶}
  "title_prefix" => []
  "title_suffix" => []
  "db_is_active" => true
  "is_admin" => true
  "logged_in" => true
  "directory" => "themes/custom/atworknext"
  "entity_type" => "node"
  "field_name" => "field_comments"
  "field_type" => "entity_reference"
  "label_display" => "hidden"
  "label_hidden" => true
  "label" => "Comments"
  "multiple" => false
  "items" => array:1 [▶]
  "#cache" => array:1 [▶]
  "is_front" => false
  "theme" => array:26 [▶]
  "theme_hook_suggestions" => array:5 [▶]
  "theme_hook_suggestion" => "field"
**/
#}
<span {{ content_attributes }}>
  {% for item in items %}
    <h3>Join the Conversation</h3>
    <p>{{ drupal_field('comment_body', 'comment', item.content['#comment'].cid.value) }}</p>
    {# TODO: Seems like I need to add the attributes here or else I get an error. #}
    <p> Posted by: {{ item.content['#comment'].getAuthorName }}</p>
  {% endfor %}
</span>
