{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if content %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
      {% if content['#primary']['message_subscribe_ui.tab']['#active'] %}
        <div id="mysubscription-title">MANAGE YOUR SUBSCRIPTION SETTINGS</div>
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}
