// Article pages - Corporate / Executive / Video

body.node--type-article {
    main#content {
        .field--name-field-header-image > img {
            max-width:100%;
            height:auto;
        }
    }
    article.node--article-type--executive_message {
        .field--type-entity-reference {
            margin-bottom:0;
        }
        .field--name-field-display-title {
            border-top:solid 20px darken($exec-greyborder,20);
            h1 {
                background-color:$exec-greyborder;
                padding:10px 0 0 10px;
                margin:0;
                color: $black;
            }
        }
        .field--name-extra-field-author-publish-date {
            @include size1424;
            padding: 6px 0 18px;
            background-color: $exec-greyborder;
            padding-left:10px;
            margin-bottom:20px;
        }
    }
}