// Breadcrumb Test
.breadcrumb-item.active {
  color: $text;
}

.author-byline { // Author and date shown for article creation
  @include size1424;
  padding: 6px 0 18px;
  a[property~="schema:name"] {
    @include author-post;
  }
}
.node--type-background-page {
  .author-byline {
    background-color:$banner-blue;
    padding:0px;
  }
}
body.node--type-article {
  main#content {
    /*ul, ol {
      li {
        padding-left:10px;
      }
    }*/
    .field--type-entity-reference {
      margin-bottom: 0;
    }
    img.image-style-article-hero-image {
      max-width: 100%;
      height: auto;
    }
    .field--name-extra-field-author-publish-date {
      font-size: .875rem;
      line-height: 24px;
      padding: 0 0 18px;
      a {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .field .field--name-field-header-image .field--type-entity-reference {
      margin-bottom:0;
    }
    article.node--article-type--executive_message {
      h1.page-title {
          background-color: $exec-greyborder;
          padding: 10px 0 0 10px;
          margin: 0;
          color: $black;
      }
      .author-byline {
        @include size1424;
        padding: 6px 0 18px;
        background-color: $exec-greyborder;
        padding-left: 10px;
        margin-bottom: 20px;
      }
    }
    // Video and Image captions
    p.videobyline, figcaption { // text below videos and images
      @include caption-text;
      padding: 24px 16px;
  }
    @include related-content; // Related content thumbs at bottom of article
    @include bigquotes; // Big quotes used on article pages
    @include accordion_default;
    #accordion {
      .panel-title {
        background-color: $banner-blue;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        padding: 12px
      }
      .panel-default h4.panel-title {
        text-align: left;
        background-color:$comment-blue;
        color: $text;
        padding: 12px 10px;
        a {
          color:$text;
        }
      }
      &.panel-group {
        .panel {
          background-color:$white;
          border:none;
        }
        .panel-body {
          border:none;
        }
      }
    }
  }
}

// Program landing pages - LSA, Premiers Awaards, etc
body.node--type-background-page {
  .social-bar {
    display:none;
  }
  main#content {
    .field--name-field-header-image {
      padding:0;
      margin:0;
      img {
        max-width:100%;
        height:auto;
      }
    }
    .content {
      article {
        h1.page-title {
          background-color: $banner-blue;
          color: $white;
          padding-top:15px;
          padding-left:15px;
          padding-right:15px;
        }
        .field--name-body {
          padding:0 0 25px;
          margin:0;
          background-color: $banner-blue;
          margin-bottom:5px;
          p {
            color:$white;
            padding-left:15px;
            padding-right:15px;
          }
        }
      }
    }
      .field--name-field-program-topic-boxes {
        padding:10px;
        width:100%;
        background-color: $comment-blue;
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-center;
        > .field__item {
          @extend .p-2;
          @extend .flex-fill;
          border:solid 1px $exec-greyborder;
          background-color: $white;
          min-width: 450px;
          max-width: 500px;
          text-align: center;
          margin:10px;
          padding:0!important;
          .paragraph--type--program-topic-box {
            .field--name-field-title {
              @include size1824;
              text-align: left;
              font-weight:bold;
              padding:5px 5px 0 5px;
              margin:0 0 0 0;
            }
          }
          p {
            text-align: left;
            padding:5px;
            min-height: 140px;
          }
          .btn-group {
            .btn {
              border-radius: 0;
              border:none;
              background-color: $banner-blue;
              color: $white;
              font-size: .875rem;
            }
            .dropdown-menu {
              width:100%;
              left: -.75rem!important;
              li {
                border:solid 1px $exec-greyborder;
                text-align: center;
                padding: 3px 8px;
                margin: 0 5px 5px;
              }
              :hover {
                background-color: $banner-blue;
                color:$white;
              }
              box-shadow:  0 6px 12px rgba(0, 0, 0, 0.175);
            }
          }
        }
      }
  }
}
// Program content pages
body.node--type-program-area-content {
  .field--type-image {
    padding:0;
    margin:0;
    img {
      max-width:100%;
      height:auto;
    }
  }
  #block-programareamenu {
    h2 {
      background-color: $banner-blue;
      color: $white;
    }
    #accordion.panel-group {
      padding:5px;
      margin-bottom: 5px;
    }
  }
}
//Group Highlight Space on program and group landing pages
body.path-group, body.node--type-background-page {
  #block-grouphighlight,
  .field--name-field-program-highlight,
  .field--name-field-group-highlight {
    display:inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px $exec-greyborder;
    > .field__label {
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: bold;
      background-color: #e6f2f9;
      padding: 3px 10px;
      margin: 0px;
    }
    .field--name-field-highlight-title {
      font-weight: bold;
      display: inline;
      padding: 8px;
    }
    .text-formatted p {
      padding:8px;
      margin-bottom:0;
    }
    .field--name-field-highlight-image {
      float:right;
      padding:5px;
      margin: 0 0 0 1em;
      img {
        margin:0;
        padding:0;
      }
    }
  }
  #block-programhighlight {
    width:100%;
  }
}
// Grid landing pages - News

body.layout-no-sidebars.path-news {
  padding:0;
  margin:0;
  .view-header {
    text-align:center;
    font-size: .9rem;
  }
  .view-filters {
    border:solid 1px $exec-greyborder;
    width:max-content;
    margin: 0 auto 10px;
    padding:5px 10px;
    .views-exposed-form {
      font-size:.8rem;
      input.form-control,
      .form-select.form-control {
        padding: 0px 5px;
        height: inherit;
        color: #10233c;
        font-size: .75rem;
        line-height: 16px;
      }
      #edit-actions {
        margin-bottom:11px;
      }
    }
  }
  .views-infinite-scroll-content-wrapper {
    width:100%;
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;
    @extend .justify-content-center;
    .all-content-row {
      border: solid 1px $exec-greyborder;
      width:500px;
      padding:0;
      margin: 0 5px 10px 5px;
      aside.article,
      aside.group_post,
      aside.program_area_content {
        float:left;
        width:208px;
        height:160px;
        border-right:solid 1px $exec-greyborder;
        margin-right:10px;
        @include size1216;
        text-align: center;
        .content-image {
          width:208px;
          > img {
            width:100%;
            height:auto;
            width:inherit;
            margin-bottom:10px;
            border-bottom:solid 5px $icon-grey;
          }
        }
        &.group_post {
          background-color: floralwhite;
        }
        &.program_area_content {
          background-color: beige;
        }
        &.article[data-content="Corporate Article"] {
          background-color: darken($color: $exec-greyborder, $amount:1);
        }
        &.article[data-content="Executive Message"] {
          background-color: $comment-blue;
        }
        &.article[data-content="Video Article"] {
          background-color: darken($color: $exec-greyborder, $amount:10);
        }
      }
    }
    .content-info {
      position:relative;
      padding-right:12px;
      .content-info-date {
        @include size1216;
        margin-bottom: 8px;
      }
      h3 {
        @include size1824;
        min-height:60px;
        padding-bottom:5px;
      }
      .content-info-text {
        @include size1416;
      }
      .parent-program, .parent-group {
        @include size1216;
        margin-top:25px;
        bottom:10px;
      }
    }
  }
  @include load-more;
}

// Group landing page
// Grid Landing Page Specific Mixins. Used on Group Landing, All Post, All Galleries
body.layout-no-sidebars.path-groups {
button#group-add {
  @extend .btn;
  @extend .btn-info;
  position: absolute;
  top: -58px;
  right:0;
  font-size:.9rem;
}
button#edit-submit-atwork-groups {
  background-color: $banner-blue;;
}
.view-filters {
  border:solid 1px $exec-greyborder;
  width:max-content;
  margin: 0 auto 10px;
  padding:5px 10px;
  .views-exposed-form {
    font-size:.8rem;
    input.form-control,
    .form-select.form-control {
      padding: 0px 5px;
      height: inherit;
      color: #10233c;
      font-size: .75rem;
      line-height: 16px;
    }
    #edit-actions {
      margin-bottom:11px;
    }
  }
}
.views-infinite-scroll-content-wrapper {
  width:100%;
  .post-list-content {
    @extend .d-flex;
    @extend .flex-row;
    @extend .flex-wrap;
    @extend .justify-content-center;
    .all-posts-row {
      list-style: none;
      width:215px;
      padding:0;
      margin:0 5px 10px 5px;
      background-color: $comment-blue;
      border:solid 1px lighten($button-hover, 35%);
      .all-post-image {
        width:214px;
        height:120px;
        img {
          width:100%;
          height:100%;
        }
      }
      .all-post-info {
        padding:5px;
        .all-post-title {
          min-height:50px;
        }
        .all-post-teaser {
          min-height:80px;
          font-size: .9rem;
        }
        .all-post-date {
          font-size:.8rem;
        }
      }
    }
  }
}
@include load-more;
}

// Competency Dictionary Page
body.path-competency-dictionary {
  div.competency-support {
    div.view-filters {
      border-bottom: solid 1px $exec-greyborder;
      padding-bottom: 0px;
      margin-bottom: 15px;
    }
    #views-exposed-form-competency-dictionary-page-1 {
      font-size: .85rem;
      legend {
        font-size: inherit;
        font-weight: bold;
      }
      #edit-actions {
        width:100%;
        text-align: center;
      }
      .form-check {
        .form-check-input {
          margin-top:0.4rem;
        }
        label {
          padding-left: 0px;
          padding-right: 10px;
        }
      }
      #edit-field-dictionary-tag-target-id,
      #edit-field-support-tag-target-id {
        border: solid 1px $exec-greyborder;
        padding: 8px;
        .form-radios {
          line-height: initial;
        }
      }
      #edit-field-support-tag-target-id--wrapper {
        #edit-field-support-tag-target-id {
          .form-check {
            display: inline;
          }
        }
      }
      fieldset.form-type-entity-autocomplete {
        width: 100%;
        label {
          margin-bottom:0px;
          font-weight:bold;
        }
      }
    }
    div.view-content.row {
      .view-grouping {
        min-width: 50%;
        max-width:min-content;
        .view-grouping-header {
          text-align:center;
          padding: 0 0 5px 8px;
          font-style: oblique;
          color:$icon-grey;
        }
        .view-grouping-content {
          padding:0 5px;
          @include accordion_default;
        }
        h3 {
          background-color: $exec-greyborder;
          font-size: initial;
          text-align: center;
          padding: 5px 0;
        }
      }
    }
    div.view-content.row > .view-grouping:nth-of-type(1) > .view-grouping-header::after {
      content:" - Managers, Supervisors & Staff";
    }
    div.view-content.row > .view-grouping:nth-of-type(2) > .view-grouping-header::after {
      content:" - Executives & Director";
    }
  }
}