/* Mixins specific to AtWork CSS. See the Bootstrap mixins for others */

// Font and pixel sizes and line-heights. Example: size1216 is 12px font / 16px line-height
@mixin size1216 {
  font-size: .75rem;
  line-height: 16px;
}
@mixin size1416 {
  font-size:.875rem;
  line-height: 16px;
}
@mixin size1424 {
  font-size:.875rem;
  line-height: 24px;
}
@mixin size1436 {
  font-size: .875rem;
  line-height: 36px;
}
@mixin size1624 {
  font-size: 1rem;
  line-height: 24px;
}
// Group Name Title Heading Size
@mixin size1824 {
  font-size: 1.125em;
  line-height: 24px;
}
@mixin size2136 {
  font-size: 1.312rem;
  line-height: 36px;
}

// Heading 4 - previously size1824
@mixin size2160 { // Updated to match BC Digital
  font-size: 1.2em;
  line-height: 24px;
}
// Heading 3 - previously size2024
@mixin size2592 { // Updated to match BC Digital
  font-size: 1.44em;
  line-height: 24px;
}
// Heading 2 - previously size2224
@mixin size3110 { // Updated to match BC Digital
  font-size:1.728em;
  line-height: 24px;
}
// Heading 1 - previously size3236
@mixin size3732 { // Updated to match BC Digital
  font-size: 2.074em;
  line-height: 36px;
}

@mixin author-post { // Author name and date below image on articles
  font-weight:600;
  text-transform: uppercase;
}
@mixin inset-top-bottom { // top and bottom borders on inset boxes
  border-top:solid 6px $banner-blue;
  border-bottom:solid 6px $banner-blue;
}
@mixin inset-bottom { // bottom border only on inset boxes
  border-bottom:solid 6px $banner-blue;
}
@mixin caption-text { // font size and color for image/video/inset box
  @include size1416;
  color: $icon-grey;
}

@mixin atwork-button { // Text links altered to look more like a button.
  @include size2160;
  font-weight: 300;
  display: inline-block;
  background-color:$button-up;
  color:$white;
  padding: 6px 25px;
  &:hover {
    background-color: $button-hover;
    text-decoration: none;
  }
}
@mixin comment-h6 {
    font-family: 'BCSans';
    font-weight: bold;
    @include size2160;
    letter-spacing: .025rem;
    text-transform: uppercase;
    color:$text;
    padding-top:12px;
    padding-bottom:12px;
    margin:0;
}

// Article image inset
@mixin articleImage {
  figure[role="group"] { // sidebox for small article images
    display: block;
    @include inset-top-bottom;
    background-color:$comment-blue;
    figcaption {
        width:100%;
    }
  }
}
// Inset text boxes on articles and posts
@mixin side-text {
  border-top:solid 6px $banner-blue;
  border-bottom:solid 6px $banner-blue;
  background-color: $comment-blue;
  padding: 12px;
  width:265px;
}

// Update and Call Out boxes on article, background and group posts
@mixin callout {
  table {
    caption {
      background-color: $banner-blue;
      padding: 3px 0 6px;
      @include size2592;
      color: $white;
      text-align: center;
      text-transform: uppercase;
      caption-side:top;
    }
    h4 {
      padding:0;
      font-weight: 600;
    }
    margin-bottom: 12px;
  }
}
@mixin update {
  @include callout;
  table.update {
    border-bottom: solid 6px $banner-blue;
    tbody tr td {
      padding: 16px 16px 24px;
    }
  }
}
@mixin quotes {
  :before { // Large left quote graphic. Uses SVG graphic.
    float:left;
    content:url('../images/left-quote.svg');
    width: 30px; // Change this vale to change the size of the SVG
    position:absolute;
    margin-left:-45px;
  }
  :after { // Large right quote graphic. Uses SVG graphic.
    content:url('../images/right-quote.svg');
    width: 30px; // Change this vale to change the size of the SVG
    position:absolute;
    margin-left:10px;
  }
}
@mixin QuoteAuthor { // Big Quotes Author. Applies the style to the author of the quote. Names must be bold in article text.
    display: block;
    width:100%;
    @include size1436;
    line-height: normal;
    padding-top:12px;
    text-align: right;
    font-weight:normal;
    a {
      font-weight: bold;
      text-transform: uppercase;
    }
}
// Article Quote Box
@mixin bigquotes {
  article div.row.quotebox {
    text-align: center;
    border-top: solid 9px $banner-blue;
    border-bottom: solid 9px $banner-blue;
    padding: 24px 100px;
    font-size: 1.312rem;
    line-height: 36px;
    font-weight: bold;
    color:#333333;
    margin-bottom: 24px;
    margin-top: 24px;
    .row.quote {
      @include quotes;
    }
    .row.byline {
      @include QuoteAuthor;
    }
  }
}

// Social Bar icons
@mixin button-text-reset {
  input[type=button] { // Cleans up default input button and add styling
    border:none;
    background:none;
    padding:0;
    margin:0;
    color: $link-blue;
    &:hover { // Resets color and underline on mouse hover
      color:$black;
      text-decoration: underline;
    }
  }
}

// Load more button used on landing pages and related content
@mixin load-more {
  .js-pager__items.pager {
    margin-top:10px;
    padding-left:0px;
    li {
      text-align: center;
      list-style: none;
      a.button {
        @extend .btn;
        @extend .btn-secondary;
      }
    }
  }
}

// Related content boxes on Article / Program / Group pages
@mixin related-content {
#block-views-block-related-content-block-1 {
  h2 {
    @include size2160;
    text-transform: uppercase;
    background-color:$banner-blue;
    color:$white;
    padding:3px 10px 5px;
    margin:10px 0 0;
  }
   .related-wrapper {
     padding:0;
     margin:0;
     .views-infinite-scroll-content-wrapper {
       width:100%;
       @extend .d-flex;
       @extend .flex-row;
       @extend .flex-wrap;
       @extend .justify-content-center;
      .related-content {
        width:204px;
        margin:5px;
        border: solid 1px $exec-greyborder;
        .no-article-image {
          background-color: $exec-greyborder;
          width:204px;
          height:112px;
        }
        .related-box {
          min-height: 215px;
          padding-bottom: 5px;
          .related-image {
            width:204px;
            height:111px;
            overflow: hidden;
            background-color: $exec-greyborder;
          }
        }
        .related-type, .related-title, .related-date {
          padding-left:10px;
          padding-right:10px;
        }
        .related-type, .related-date {
          @include size1216;
        }
        .related-title {
          min-height:55px;
          margin-bottom:20px;
          h5 {
            margin:0;
            padding:0;
          }
        }
        .related-type {
          padding:10px 0 0 10px;
          margin:0;
          text-transform: capitalize;
        }
      }
     }
     @include load-more;
   }
 }
}

// Removes the bullet values used on news article page lists.
.group-related-content .related-wrapper li.related-content {
  margin-left:initial;
  &:before {
    content:none;
  }
}
@mixin related-content-nav {
  // Related content nav arrows
  div [role=navigation] {
    margin-top:125px;
    .pager {
      margin:0;
      li a {
        color:transparent;
        background-color: transparent;
        border:0;
      }
      li.previous {
        position: absolute;
        left:-6px;
        background-image: url("../images/blue-arrow-left.svg");
        background-repeat: no-repeat;
        width: 17px;
      }
      li.next {
        position: absolute;
        right: -6px;
        background-image: url("../images/blue-arrow-right.svg");
        background-repeat: no-repeat;
        width: 17px;
      }
    }
  }
}
// Employee profile and Employeee Landing page card look
@mixin profile-look {
  border: solid 1px $exec-greyborder;
  ul {
    list-style: none;
    padding:0;
    margin:0;
  }
  aside {
    height: 160px;
    width: 100px;
    float: left;
    //padding: 10px 0 0;
    margin-right:10px;
    border-right: solid 1px $exec-greyborder;
    background-color:$exec-greyborder;
    span.profile-img {
      display: block;
      width: 75px;
      height: 75px;
      margin:0 auto;
      border-radius: 50%;
      overflow: hidden;
      border:solid 2px darken($exec-greyborder, 20);
      background-color: $white;
      img {
        width:100%;
        height:100%;
      }
    }
  }
  section.profile-detail {
    padding:10px 0px 10px;
    width:100%;
    @include size1216;
    li.employee {
      @include size1416;
      text-transform: uppercase;
      margin-bottom:5px;
    }
    li.email {
      padding-top:10px;
    }
  }
}
// Colour identifiers for employee landing page, used for execs.
@mixin j41 {
  aside {
    background-color: $banner-blue;
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}
@mixin j42 {
  aside {
    background-color: lighten($banner-blue, 50%);
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}
@mixin j43 {
  aside {
    background-color: $comment-blue;
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}


// Group Theme Colours

@mixin theme_default_set {
  p a {
    color: $grp-default-link;
  }
  .group-title-banner h1 {
    background-color: $grp-default-banner;
    color: #4e4e4e;
  }
  .field--name-field-group.field--type-image img {
    border-bottom:solid 8px $grp-default-banner;
  }
  .field--name-field-group-highlight > div:nth-child(1) {
    background-color: $grp-default-banner!important;
    color: #4e4e4e;
  }
  #block-atwork-barrio-groupadmin > h2,
  #block-atwork-barrio-views-block-group-menu-block-1 h3.block-title,
  #block-atwork-barrio-views-block-group-menu-block-3 h2.block-title {
     background-color: $grp-default-banner;
     color: #4e4e4e;
  }
  section#block-groupadmin > h2 a.btn-primary {
    background-color: $grp-default-btn;
    border-right: solid 1px #4e4e4e;
    color: $white;
  }
  .group-join, .group-leave {
    background-color: $grp-default-btn;
    border-left: solid 1px $white;
    a {
      color: $white;
    }
  }
}

@mixin theme_deep_set {
  p a {
    color: $grp-deep-link;
  }
  .group-title-banner h1 {
    background-color: $grp-deep-banner;
    color: $white;
  }
  .field--name-field-group.field--type-image img {
    border-bottom:solid 8px $grp-deep-banner;
  }
  .field--name-field-group-highlight {
    > div:nth-child(1) {
      background-color: $grp-deep-banner!important;
      color: $white;
    }
    .field--label {
      font-weight: 600;
    }
  }
  #block-atwork-barrio-groupadmin > h2,
  #block-atwork-barrio-views-block-group-menu-block-1 h3.block-title,
  #block-atwork-barrio-views-block-group-menu-block-3 h2.block-title {
     background-color: $grp-deep-banner;
     color: $white;
  }
  #block-atwork-barrio-groupadmin > h2 a.btn-primary {
    background-color: $grp-deep-btn;
    border-right: solid 1px lightsteelblue;
    color: $white;
  }
  .group-join, .group-leave {
    background-color: $grp-deep-btn;
    border-left: solid 1px lightsteelblue;
    a {
      color: $white;
    }
  }
}

@mixin theme_bright_set {
  p a {
    color: $grp-deep-link;
  }
  .group-title-banner h1 {
    background-color: $grp-bright-btn;
    color: $white;
  }
  .field--name-field-group.field--type-image img {
    border-bottom:solid 8px $grp-bright-banner;
  }
  .field--name-field-group-highlight {
    > div:nth-child(1) {
      background-color: $grp-bright-btn!important;
      color: $white;
    }
    .field--label {
      font-weight: 600;
    }
  }
  #block-atwork-barrio-groupadmin > h2,
  #block-atwork-barrio-views-block-group-menu-block-1 h3.block-title,
  #block-atwork-barrio-views-block-group-menu-block-3 h2.block-title {
     background-color: $grp-bright-btn;
     color: $white;
  }
  section#block-groupadmin > h2 a.btn-primary {
    background-color: $grp-bright-banner;
    //border-right: solid 1px black;
    color: $white;
  }
  .group-join, .group-leave {
    background-color: $grp-bright-banner;
    //border-left: solid 1px black;
    a {
      color: $white;
    }
  }
}

@mixin theme_muted_set {
  p a {
    color: $grp-deep-link;
  }
  .group-title-banner h1 {
    background-color: $grp-muted-banner;
    color: $text;
  }
  .field--name-field-group.field--type-image img {
    border-bottom:solid 8px $grp-muted-banner;
  }
  .field--name-field-group-highlight {
    > div:nth-child(1) {
      background-color: $grp-muted-banner!important;
      color: $text;
    }
    .field--label {
      font-weight: 600;
    }
  }
  #block-atwork-barrio-groupadmin > h2,
  #block-atwork-barrio-views-block-group-menu-block-1 h3.block-title,
  #block-atwork-barrio-views-block-group-menu-block-3 h2.block-title {
     background-color: $grp-muted-banner;
     color: $text;
  }
  section#block-groupadmin > h2 a.btn-primary {
    background-color: $grp-muted-btn;
    border-right: solid 1px black;
    color: $text;
  }
  .group-join, .group-leave {
    background-color: $grp-muted-btn;
    border-left: solid 1px black;
    a {
      color: $text;
    }
  }
}
