/* Site Colours - include primary, panels, text, links and special */
/* Updated October 2018 */

$banner-blue: #10233c; // Top banner and footer

$link-blue:#406b93; // Links (Revised from #0080c7 suggested from WAVE
$text:#333333; // Default colour for text
$black:#000000; // Black
$white:rgb(255,255,255); // White
$comment-blue:#e6f2f9; // Blue border around comment form
$icon-grey:#6B6C6C; // Icon grey if no graphics used
$exec-greyborder:#E0E7E8; // Borders used on Exec Messages
$horz-ad:#bfdff0; // Background color for horizontal text ad

// Secondary colours
$poll-blue:$banner-blue; // Poll blue
$poll-green:#41ad49; // Poll green
$poll-yellow:#FEC00F; // Poll yellow
$poll-teal:#209E92; // Poll teal


// Button Colours
$button-up: $link-blue; // Default button up colour
$button-hover: #6b6b6b; // Roll over button colour

// Group colour Options

// Teal

$grp-default-banner: rgba(138, 204, 207, 1);
$grp-default-btn: rgba(47, 114, 116, 1);
$grp-default-hover: rgba(37, 126, 130, 1);
$grp-default-link: rgba(64, 107, 147, 1);


// Green

$grp-bright-banner: rgba(20, 83, 20, 1);
$grp-bright-btn: rgba(22, 117, 22, 1);
$grp-bright-hover: rgba(118, 139, 166, 1);
$grp-bright-blue: rgba(64, 107, 147, 1);

// Blue

$grp-deep-banner: $banner-blue;
$grp-deep-btn: rgba(16, 35, 60, 1);
$grp-deep-hover: rgba(242,183,73, 1);
$grp-deep-link:rgba(64, 107, 147, 1);

// Light Blue

$grp-muted-banner: rgba(223,235,242, 1);
$grp-muted-btn: rgba(174, 208, 227, 1);
$grp-muted-hover: rgba(242,183,73, 1);

