// Styling for comments on all node types that show comments
//section[rel~="schema:comment"] {
body.node--type-group-post, body.node--type-forum {
  main#content {
    padding-left:0;
    padding-right:0;
    article h2 {
      @include size2136;
      background-color:$grp-muted-banner;
      padding: 5px 10px;
      a:before {
         content:"Topic: ";
      }
    }
    .view-content.row {
      margin-left:0;
      margin-right:0;
    }
    .flag-subscribe-node:before {
      display: block;
      float:left;
      content:url("../images/subscribe-icon.svg");
      width: 16px;
      margin-right: 8px;
      margin-top:inherit;
    }
    div.content section h2 {
      background-color: $comment-blue;
      padding: 10px;
      margin-top:10px;
    }
    .forum-author {
      width:130px;
      margin-top:10px;
      @include size1216;
      float:left;
      article {
        border-bottom: solid 1px $exec-greyborder;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .group-related-content, form#comment-form  {
    background-color: $comment-blue;
    padding:12px;
    #edit-comment-body-wrapper, .form-type-textarea {
      padding-right:0;
      padding-left:0;
    }
    #edit-comment-body-0-format {
      display: block;
      width:100%;
      height:50px;
      position: relative;
      //background-color: $white;
      #edit-comment-body-0-format-help {
        position: absolute;
        right:0;
        margin: 10px 0 0;
      }
      .js-form-item {
        position: absolute;
        margin-top: 5px;
        left:0;
        label {
          display: none;
        }
      }
    }
  }
  .new-comments {
    .view-content {
      border-top: solid 5px $banner-blue;
      padding-top:10px;
    }
    .view-header {
      h4 { // Comment title along with count bubble
        @include comment-h6;
        display: inline;
      }
      > #comment-count { // Comment count SVG graphic bubble
        display: inline-block;
        width:auto;
        padding:15px 15px 19px;
        margin-left: 15px;
        color:$white;
        background-image:url("../images/text-bubble.svg");
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
      }
    }
    .view-filters { // Sorting filters for Comments
      float:right;
      margin-top:-50px;
      fieldset {
        margin-bottom:0;
        > label {
          display: none;
        }
      }
      .form-control {
        @include size1216;
        text-transform: uppercase;
        height:inherit;
        font-family: 'BCSans';
      }
    }
    .view-content.row {
      .views-infinite-scroll-content-wrapper {
        width:100%;
        .views-row {
          width:100%;
          .indented > article.comment {
            background-color: lighten($exec-greyborder,5%)
          }
          article.comment {
            border:solid 1px $exec-greyborder;
            padding:12px;
            margin-bottom:10px;
            @extend .d-flex;
            width:100%;
            .comment__meta {
              max-width: 120px;
              text-align: center;
              padding:0;
              .profile {
                display:block;
                border: solid 3px $link-blue;
                border-radius: 50%;
                background-image:url("../images/blue-avatar.jpg");
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
                width:90px;
                height:90px;
                overflow: hidden;
                margin: 0 auto 8px;
              }
              .comment__author {
                display: block;
                width:100%;
                text-align: center;
                border-top:solid 1px #CCC;
                padding-top:5px;
              }
            }
            .comment__content.col-sm-9 {
              max-width: none;
              flex:auto;
              padding-left:0;
              padding-right:0;
              h3.card-title {
                @include size1824;
                background-color: $comment-blue;
                padding: 6px 8px;
              }
              p {
                padding-left:15px;
                padding-right:15px;
                padding-bottom:10px;
                border-bottom:solid 1px #CCC;
              }
              .inline__links {
                font-size:.85rem;
                float:left;
                margin-left:10px;
                .comment-reply:before {
                  display: block;
                  float:left;
                  content:url("../images/reply-arrow.svg");
                  width: 20px;
                  margin-right: 3px;
                  margin-left:5px;
                }
              }
              .flag {
                float:right;
                margin-right:10px;
                font-size:.85rem;
                :before {
                  display: block;
                  float:left;
                  content:url("../images/flag-icon.svg");
                  width: 14px;
                  margin-right: 4px;
                  margin-top:-1px;
                }
              }
              .comment__time {
                padding-left:10px;
              }
            }
          }
        }
      }
    }
    @include load-more;
  }
}
body.node--type-forum {
  .field--name-body {
    margin-left:140px;
  }
  
}

// Comments, replies specific to forums and group forums
article.by-viewer,
article.forum {
  .field--name-user-picture {
    display:block;
    //border: solid 3px $link-blue;
    //background-image:url("../images/blue-avatar.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width:85px;
    height:85px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }
  .indented {
    display: flexbox;
    margin-left:35px;
    > .indented {
      margin-left:initial;
    }
    > article {
      border-bottom:solid 4px $exec-greyborder;
      margin-bottom:10px;
    }
  }
}