
// Forums pages including forum, topic and landing page
article.by-viewer,
article.forum.full {
  display:flow-root;
  padding-left:10px;
  h2 {
    @include size1824;
    background-color:$grp-muted-banner;
    padding: 10px 10px 5px;
    a:before {
       content:"Topic: ";
    }
  }
  footer {
    min-width: 120px;
    max-width: 120px;
    margin-top:10px;
    @include size1216;
      float:left;
      article {
        border-bottom: solid 1px $exec-greyborder;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      a[href*="/comment/"] {
        display:block;
        text-align: center;
        position: absolute;
        bottom:10px;
      }
  }
  .content > section {
    margin-top:45px;
    footer {
      margin-top: 0px;
    }
  }
  h3 {
    @include size1824;
    background-color: $grp-muted-banner;
    padding:5px;
    margin:0px 0px 10px;
  }
  .field--name-body,
  article.js-comment {
    border: solid 1px $exec-greyborder;
    padding:10px;
    margin:10px 0px;
  }
  .field--type-text-with-summary {
    margin-left:120px;
  }
  .indented {
    article > div > h3 {
      background-color: $grp-muted-banner!important;
    }
  }
  ul.list-inline {
    @include size1216;
    margin: 10px 0px 0px;
    li {
      margin-left:0;
      margin-right: 10px;
      padding-left:0px;
      &:before {
        content:none;
      }
    }
    border-top: solid 1px $exec-greyborder;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left:10px;
  }
  .flag-inappropriate-comment-flag {
    @include size1216;
    position: absolute;
      right: 15px;
      bottom: 15px;
      &::before {
        display: block;
        float:left;
        content:url("../images/flag-icon.svg");
        width: 14px;
        margin-right: 4px;
        margin-top:-1px;
      }
    }
  .flag-subscribe-node {
    position: absolute;
    right: 10px;
    :before {
      display: block;
      float:left;
      content:url("../images/subscribe-icon.svg");
      width: 16px;
      margin-right: 3px;
      margin-top:3px;
    }
    a {
      @include size1416;
      margin-top:-10px;
    }
  }
  .content {
    .field--name-taxonomy-forums {
      display:none;
    }
  }
}
article.js-comment {
  display: flex;
  min-height:180px;
  .comment__meta {
    max-width:140px;
    flex:auto;
    > div, ul {
      padding-left: 10px;
      padding-right: 10px;
    }
  } 
  .comment__content.col-sm-9 {
    flex:inherit;
    max-width: inherit;
  }
}

// Forum spacific styles for landing page within groups and /forum page

body.path-forum,
body.path-group {
  li.action-links {
    display:inline-block;
    list-style-type: none;
    margin-bottom:5px;
  }
  table {
    margin-bottom: 15px;
    thead {
      background-color:$banner-blue;
      color: $white;
      a {
        color: $white;
        span.glyphicon-chevron-down {
          top: 5px;
          left: 5px;
        }
      }
    th {
       padding: 3px 10px;
       border-right: solid 1px #ddd;
      }
    }
  }
} 
body.path-group {
  .region-content {
    li.action-links {
      margin-left:10px;
    }
    .table-responsive {
      padding-left:10px;
      table {
        border: solid 1px #ECECEC;
      }
      .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: $comment-blue;
      }
    }
  }
}
// Forum landing page
body.path-forum {
  .region-content {
    table {
      width:100%;
      tbody {
        tr.even {
          background-color:$white;
        }
        td {
          padding-left:10px;
          border: solid 1px #ECECEC;
          &[colspan="4"] {
              background-color: $comment-blue;
              padding: 10px;
          }
        }
      }
      .indent {
          margin-left:25px;
          padding: 5px;
        }
        td:nth-child(1) > div:nth-child(3),
        td:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
            > p:nth-child(1) {
                padding-left: 10px;
                &:before {
                   content:"- ";
               }
            }
        }
      }
    }
}