// Header, main content width

// #Page wrapper on all pages
#page {
  #header.header {
    max-width:1140px;
    margin:0 auto;
    background-color: $banner-blue;
    #navbar-main.navbar {
      display:none;
    }
  }
  #main-wrapper {
    margin-top:45px; // drops the main content 25px to allow room for the drop menu bar
  }
  footer.site-footer {
    background-color: $banner-blue;
    padding: 0px;
    margin-top:15px;
    text-align: center;
    .site-footer__top {
      @extend .d-flex;
      .block {
        border:none;
        width:100%;
      }
      .region {
        @extend .p-2;
        @extend .flex-fill;
        .content p {
          color:$white;
        }
      }
    }
  }
}

// Superfish CSS placed locally to override default CSS
nav#navbar-top {
  .region-secondary-menu {
    width:100%;
  }
  & .row {
    margin-left:0px;
  }
  .navbar-brand {
      height:80px;
      .img-fluid {
          max-height:inherit;
          height:80px;
      }
  }
  padding-left:0;
  padding-right:0;
  @include size1416;
  padding:0;
  .next-menu-link {
    color: $exec-greyborder;
  }
  ul.sf-menu.sf-style-none {
    float: left;
    margin-bottom: 0px;
    padding: 0;
  }
  ul.sf-menu.sf-style-none.sf-navbar {
    width: 100%;
  }
  ul.sf-menu.sf-style-none ul {
    margin: 0;
    padding: 0;
  }
  ul.sf-menu.sf-style-none a, ul.sf-menu.sf-style-none a:visited, ul.sf-menu.sf-style-none span.nolink {
    padding: 0.75em 1em;
  }
  ul.sf-menu.sf-style-none.rtl a.sf-with-ul, ul.sf-menu.sf-style-none.rtl span.nolink.sf-with-ul {
    padding-left: 2.25em;
    padding-right: 1em;
  }
  ul.sf-menu.sf-style-none span.sf-description {
    color: #13a;
    display: block;
    font-size: smaller;
    line-height: 1.5;
    margin: 0.25em 0 0 0;
    padding: 0;
  }
  ul.sf-menu.sf-style-none li, ul.sf-menu.sf-style-none.sf-navbar {
    background: transparent;
  }
  ul.sf-menu.sf-style-none li li, ul.sf-menu.sf-style-none.sf-navbar > li > ul {
    background: $comment-blue;
    a {
      color: $text;
    }
  }
  ul.sf-menu.sf-style-none li li li {
    background: $white;
  }
  ul.sf-menu.sf-style-none li:hover, ul.sf-menu.sf-style-none li.sfHover, ul.sf-menu.sf-style-none a:focus, ul.sf-menu.sf-style-none a:hover, ul.sf-menu.sf-style-none span.nolink:hover {
    //background: $black;
    outline: 0;
    text-decoration: none;
    color: $exec-greyborder;
  }
  div.sf-accordion-toggle.sf-style-none a {
    background: #bdd2ff;
    color: #13a;
    display: inline-block;
    font-weight: bold;
    padding: 1em 3em 1em 1em;
    position: relative;
  }
  div.sf-accordion-toggle.sf-style-none > a:after {
    content: "≡";
    font-size: 2em;
    position: absolute;
    right: 0.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    speak: none;
  }
  div.sf-accordion-toggle.sf-style-none a.sf-expanded, ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded {
    background: #cfdeff;
  }
  div.sf-accordion-toggle.sf-style-none a.sf-expanded, ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > a, ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
    font-weight: bold;
  }
  ul.sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 499;
  }
  ul.sf-menu.sf-style-none.sf-accordion li li a, ul.sf-menu.sf-style-none.sf-accordion li li span.nolink {
    padding-left: 2em;
  }
  ul.sf-menu.sf-style-none.sf-accordion li li li a, ul.sf-menu.sf-style-none.sf-accordion li li li span.nolink {
    padding-left: 3em;
  }
  ul.sf-menu.sf-style-none.sf-accordion li li li li a, ul.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
    padding-left: 4em;
  }
  ul.sf-menu.sf-style-none.sf-accordion li li li li li a, ul.sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
    padding-left: 5em;
  }
  ul.sf-menu.sf-style-none.rtl.sf-accordion li li a, ul.sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
    padding-left: auto;
    padding-right: 2em;
  }
  ul.sf-menu.sf-style-none.rtl.sf-accordion li li li a, ul.sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
    padding-left: auto;
    padding-right: 3em;
  }
  ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li a, ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
    padding-left: auto;
    padding-right: 4em;
  }
  ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li a, ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
    padding-left: auto;
    padding-right: 5em;
  }
  ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol, ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol li {
    margin: 0;
    padding: 0;
  }
  ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper a.menuparent, ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper span.nolink.menuparent {
    font-weight: bold;
  }
  // Superfish Main menu changes
  ul#superfish-main {
    .sf-depth-1 {
      a:hover {
        background-color: $black;
        color: $exec-greyborder;
      }
    }
    .sf-depth-2 {
      a.sf-depth-2 {
        &:hover {
          background-color: $black;
          color: $exec-greyborder;
        }
      }
      > ul {
        background-color: $white;
        border: solid 1px #CCCCCC;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        padding: 5px 5px 2px;
      }
    }
    .sf-depth-2.next-menu-item.sf-no-children > a.sf-depth-2.next-menu-link {
      padding-top:13px;
    }
    .sf-depth-3 {
      a.sf-depth-3 {
        color: $text;
        display: block;
        border: solid 1px #CCCCCC;
        margin-bottom: 3px;
        padding-top: 4px;
        padding-bottom: 6px;
        &:hover {
          color: $white;
          background-color: $banner-blue;
        }
      }
    }
  }
  .sf-depth-1.next-menu-item.menuparent.sf-breadcrumb.sfHover, .active-trail.sf-depth-2.next-menu-item.sf-no-children > a, .active-trail.sf-depth-2.next-menu-item.menuparent > a {
    background-color: $black;
    color: $exec-greyborder;
  }
  a.sf-depth-1.next-menu-link.menuparent:after,
  a.sf-depth-2.next-menu-link.menuparent:after {// Google Materila Font - Down Chevron
    font-family: "Material Icons";
    content: " expand_more";
    font-size:1.25rem;
    line-height:inherit;
    vertical-align: text-top;
  }
  }

 // Group and Landing Page side menus
body.path-group {
  #sidebar_first {
    aside.section {
      #block-atwork-barrio-groupadmin {
        padding:0;
        border-color:#CCC;
        border-bottom:none;
        h2 {
          padding:0;
          margin:0;
          a.btn-primary {
            border-radius: 0;
          }
        }
        .draggable-dashboard {
          background-color: $exec-greyborder;
          h2 {
            border-bottom: none;;
          }
          #column-1 {
            padding:10px;
            .group-side-menu {
              .views-row {
               width:100%;
               .views-field a {
                 display:block;
                 border: solid 1px #CCC;
                 margin-bottom:5px;
                 padding:5px;
               }
             }
           }
         }
        }
      }
      #block-atwork-barrio-views-block-group-menu-block-1,
      #block-atwork-barrio-views-block-group-menu-block-3 {
        border-color:#CCC;
        .col-auto {
          padding: 0;
        }
        h2, h3 {
          //color:$white;
          text-align: center;
          padding:9px 0;
          margin:0 0 10px 0;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom:solid 2px #CCC;
          @include size1416;
        }
        #accordion.panel-group {
          padding:5px;
          margin-bottom: 5px;
          .panel {
            background-color:$exec-greyborder;
            padding-bottom:5px;
            border: solid 1px #CCCCCC;
          }
          h4.panel-title {
            padding: 5px 10px;
            border-bottom:solid 1px #CCC;
            background-color: #f5f5f5;
            @include size1416;
            font-weight: normal;
            .material-icons {
              float:right;
              margin-top:-3px;
              color:#999!important;
            }
            a[aria-expanded="true"] {
              .material-icons {
                transform: rotate(180deg);
              }
            }
          }
          .panel-body {
            border-left:solid 1px $exec-greyborder;
            border-top:solid 1px $exec-greyborder;
            border-bottom: solid 1px #999;
            border-right:solid 1px #999;
            background-color: $white;
            margin:5px;
            padding:0px;
            a {
              display:block;
              padding:5px;
              &:hover {
                background-color:$banner-blue;
                color:$white;
              }
            }
          }
        }
        .view-content {
          margin-left:0;
          margin-right:0;
          > .views-row {
            width:100%;
          }
        }
      }
      & .block {
        padding:0;
      }
      #block-atwork-barrio-views-block-group-menu-block-3 {
        font-size: .9rem;
        .view-content{
          p {
            margin:initial;
            padding: 0 10px;
          }
          h3 {
            border-top:solid 1px $exec-greyborder;
            border-bottom:solid 1px $exec-greyborder;
            padding:3px 0;
            margin-top:5px;
            width:100%;
          }
        }
        .attachment-after {
          padding:0 10px 10px;
        }
      }
    }
  }
} 
// Group and Landing Page side menus
body.node--type-program-area-content {
  #sidebar_first {
    #block-programareamenu {
      border:solid 1px $exec-greyborder;
      margin-top:10px;
      margin-bottom:5px;
      padding:5px;
      h2 {
        color:$white;
        text-align: center;
        padding:9px 0;
        margin:0 0 10px 0;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom:solid 2px #999;
        @include size1416;
        background-color: $banner-blue;
      }
      #accordion.panel-group {
        margin-bottom: 5px;
        .panel {
          background-color:$comment-blue;
        }
        h4.panel-title {
          padding: 5px 10px;
          border-bottom:solid 1px #999;
          @include size1416;
          font-weight: normal;
          .material-icons {
            float:right;
            margin-top:-3px;
            color:#999!important;
          }
          a[aria-expanded="true"] {
            .material-icons {
              transform: rotate(180deg);
            }
          }
        }
        .panel-body {
          border-left:solid 1px $exec-greyborder;
          border-top:solid 1px $exec-greyborder;
          border-bottom: solid 1px #999;
          border-right:solid 1px #999;
          background-color: $white;
          margin:5px;
          padding:0px;
          a {
            display:block;
            padding:5px;
            &:hover {
              background-color:$banner-blue;
              color:$white;
            }
          }
        }
      }
    }
  }
}