/* Group pages and related content */

// Uses these colours for Default
// $mtBlue1:#044573; // Blue 4, 69, 115 / 044573
// $mtBlue2:#c5d5da; // Pale Blue 197, 213, 218 / c5d5da
// $mtTeal:#8acccf; // Teal 138, 204, 207 / 8acccf
// $mtGreen:#82a941; // Grass Green 130, 169, 65 / 82a941
// $mtOrange:#edb141; // Orange 237, 177, 65 / edb141

body.path-group .region-content nav.tabs ul.tabs--primary {
  display: none; // hides the edit links which were moved to the group admin menu
}
// Group content
body.path-group {
  #block-atwork-barrio-content {
    .group-page-content {
      .field--type-image {
        width:100%;
        height:auto;
        img {
          width:100%;
          height:auto;
        }
      }
    }
    h1, h2 {
      &:before {
        content:"Group: ";
      }
      @include size1824;
      font-family: 'BCSans';
      font-weight: 600;
      padding:8px 0 7px 15px;
      margin:0;
      text-transform: uppercase;
      display: block;
    }
    .group-leave {
      float:right;
      padding: 7px 12px;
    }
  }
}

// Group post page
body.node--type-group-post {
  .field--type-image {
    margin-right:0;
    img {
      width:100%;
      height:auto;
    }
  }
  @include related-content;
  @include load-more; 
}
// Empty spacer box if no Group Ad Space specified
  #no-ad-space {
    display: flex;
    flex-direction: row;
    flex:1;
    height:35px;
  }

// Group Calendar and Events

.js-drupal-fullcalendar {
  tr {
    background:none;
  }
  .fc-header-toolbar {
    font-size: .85em;
  }
  .fc-head-container {
    table {
      margin: 0;
    }
    .fc-widget-header {
      color: $text;
      background-color: $white;
    }
  }
  .fc-widget-content {
    table {
      margin:0px;
      tr {
        border-bottom-color: #CCC;
      }
      td.fc-event-container {
        > a.fc-day-grid-event {
          background-color: rgb(178, 213, 230)!important;
        }
        .fc-content {
          padding: 3px 5px;
          a {
            color: $black;
          }
          .fc-time {
            padding-right: 3px;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
.fc-unthemed td.fc-today {
  background-color: $exec-greyborder;
}
article.group-event.full {
  .author-byline {
    padding: 3px 5px;
  }
  .node_content {
    .field--type-text-with-summary {
      margin:10px 45px;
      padding: 10px;
      background-color: #B2D5E6;
      color: $black;
    }
    > p {
      display: none;
    }
    .group_event_dates {
      margin-top: 25px;
    }
  }
}


// Group Theme Switch Colours

.theme_default {
  @include theme_default_set;
}
.theme_dark {
  @include theme_deep_set;
}
.theme_bright {
  @include theme_bright_set;
}
.theme_muted {
  @include theme_muted_set;
}


// Group related image galleries

body.node--type-photos {
  .content {
    img {
      width:225px;
    }
  }
}

// Group Photo Galleries and Albums
body.path-frontpage { //Temp styling - removed when new HP is in place
  .image-style-highlight-image {
    width:100%;
  }
}
body.node--type-photos,
body.path-photos {
  article {
    display:flex;
    flex-direction: row;
    flex: auto;
    footer {
      font-size: .75rem;
      img.image-style-thumbnail {
        width:auto;
      }
    }
    .content {
      img {
        width:100%;
      }
      .flag, .inline__links {
        display: inline-block;
        width:auto;
      }
      .field--name-field-tags {
        display: flex;
        h3 {
          margin-right: 5px;
          margin-top: -2px;
        }
      }
    }
  }
  .photos-album-header {
    margin-bottom: 20px;
    border-bottom: solid 5px lightgray;
  }
  .photos-col {
    border: solid 1px $exec-greyborder;
    width: 235px!important;
    min-height:340px;
    padding: 5px;
    margin-right:10px;
    margin-bottom:10px;
    h2 {
      width:100%;
      font-size:1.15em;
      min-height:60px;
    }
    .photos-list-view-info {
      border-top: solid 2px $exec-greyborder;
      margin-top:5px;
      font-size: .75rem;
    }
    .photos-list-view-thumb {
      height:125px;
      overflow: hidden;
      img {
        width:100%;
      }
    }
  }
  #image-load {
    .photos-image {
      img {
        width:100%;
      }
    }
  }
  #photos-default {
    h2:nth-of-type(1), h2:nth-of-type(2) {
      background-color:$comment-blue;
      padding:3px 10px;
      text-transform: uppercase;
      font-size: initial;
      margin-bottom:10px;
    }
    h2:nth-of-type(3), h2:nth-of-type(4) {
      background-color:$icon-grey;
      padding:3px 10px;
      text-transform: uppercase;
      font-size: initial;
      margin-bottom:10px;
      color:$white;
    }
    ul.list-group {
      flex-direction: row;
      .list-group-item {
        .photos-image-html {
          width:225px;
          height:125px;
          overflow:hidden;
          img {
            width:100%;
          }
        }
        font-size: .75rem;
        text-align: center;
      }
    }
  }
}
body.path-groups {
  .views-infinite-scroll-content-wrapper {
    width:100%;
    .views-row {
      .views-field {
        .field-content {
          @extend .d-flex;
          @extend .flex-row;
          @extend .flex-wrap;
          @extend .justify-content-center;
          .related-box {
            width:225px;
            padding:0;
            margin:0 5px 10px 5px;
            background-color: $comment-blue;
            border:solid 1px lighten($button-hover, 35%);
            padding:5px;
            .related-title {
              min-height:50px;
            }
            .related-image {
              img {
                width:100%;
              }
            }
            .related-date {
              font-size:.8rem;
            }
          }
        }
      }
    }
  }
}