/* Group pages and related content */

// Uses these colours for Default
// $mtBlue1:#044573; // Blue 4, 69, 115 / 044573
// $mtBlue2:#c5d5da; // Pale Blue 197, 213, 218 / c5d5da
// $mtTeal:#8acccf; // Teal 138, 204, 207 / 8acccf
// $mtGreen:#82a941; // Grass Green 130, 169, 65 / 82a941
// $mtOrange:#edb141; // Orange 237, 177, 65 / edb141

body.path-group .region-content nav.tabs ul.tabs--primary {
  display: none; // hides the edit links which were moved to the group admin menu
}
// Group content
body.path-group {
  #block-atwork-barrio-content {
    .group-page-content {
      .field--type-image {
        width:100%;
        height:auto;
        img {
          width:100%;
          height:auto;
        }
      }
    }
    h1, h2 {
      &:before {
        content:"Group: ";
      }
      @include size1824;
      font-family: 'BCSans';
      font-weight: 600;
      padding:8px 0 7px 15px;
      margin:0;
      text-transform: uppercase;
      display: block;
    }
    .group-leave {
      float:right;
      padding: 7px 12px;
    }
  }
}

// Group post page
body.node--type-group-post {
  .field--type-image {
    margin-right:0;
    img {
      width:100%;
      height:auto;
    }
  }
  @include related-content;
  @include load-more; 
}
// Empty spacer box if no Group Ad Space specified
  #no-ad-space {
    display: flex;
    flex-direction: row;
    flex:1;
    height:35px;
  }

// Group Calendar and Events

.js-drupal-fullcalendar {
  tr {
    background:none;
  }
  .fc-header-toolbar {
    font-size: .85em;
  }
  .fc-head-container {
    table {
      margin: 0;
    }
    .fc-widget-header {
      color: $text;
      background-color: $white;
    }
  }
  .fc-widget-content {
    table {
      margin:0px;
      tr {
        border-bottom-color: #CCC;
      }
      td.fc-event-container {
        > a.fc-day-grid-event {
          background-color: rgb(178, 213, 230)!important;
        }
        .fc-content {
          padding: 3px 5px;
          a {
            color: $black;
          }
          .fc-time {
            padding-right: 3px;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
.fc-unthemed td.fc-today {
  background-color: $exec-greyborder;
}
article.group-event.full {
  .author-byline {
    padding: 3px 5px;
  }
  .node_content {
    .field--type-text-with-summary {
      margin:10px 45px;
      padding: 10px;
      background-color: #B2D5E6;
      color: $black;
    }
    > p {
      display: none;
    }
    .group_event_dates {
      margin-top: 25px;
    }
  }
}


// Group Theme Switch Colours

.theme_default {
  @include theme_default_set;
}
.theme_dark {
  @include theme_deep_set;
}
.theme_bright {
  @include theme_bright_set;
}
.theme_muted {
  @include theme_muted_set;
}


// Group related image galleries

body.node--type-photos {
  .content {
    img {
      width:225px;
    }
  }
}

// Group Photo Galleries and Albums
body.path-frontpage { //Temp styling - removed when new HP is in place
  .image-style-highlight-image {
    width:100%;
  }
}
body.node--type-photos,
body.path-photos {
  .photos {
    display:inline-flex;
    flex-direction: row;
    flex: 1 0 auto;
    footer {
      display: flex;
      flex-direction:column;
      margin-right:20px;
      font-size: .75rem;
      img.image-style-thumbnail {
        width:auto;
      }
    }
    .content {
      img {
        width:100%;
        border-bottom:solid 10px $exec-greyborder;
        margin-bottom:10px;
      }
      .flag, .inline__links {
        @include size1416;
        @include button-text-reset;
        display: inline-block;
        width:auto;
      }
      .flag-subscribe-node:before {
        display: block;
        float:left;
        content:url("../images/subscribe-icon.svg");
        width: 16px;
        margin-right: 3px;
      }
      .photos-album.nav-link:before {
        display: block;
        float:left;
        content:url("../images/photo_album-24px.svg");
        width: 16px;
        margin-right: 8px;
        margin-top:-3px;        
      }
      .field--name-field-tags {
        display: flex;
        text-transform: capitalize;
        h3 {
          margin-right: 5px;
          margin-top: -2px;
        }
      }
    }
    h2 a {
      display:none;
    }
  }
  .photos-album-menu a {
    @include atwork-button;
    @include size1416;
    margin-bottom:10px;
  }
  .photos-album-header {
    margin-bottom: 20px;
    border-bottom: solid 5px lightgray;
  }
  .photos-col {
    position: relative;
    border: solid 1px $exec-greyborder;
    width: 260px!important;
    min-height:300px;
    padding: 5px;
    margin-right:10px;
    margin-bottom:10px;
    .photos-list-view-thumb {
      height:125px;
      overflow: hidden;
      img {
        width:100%;
      }
    }
    .photos-list-view-title {
      width:100%;
      font-size:1.15em;
      min-height:60px;
      padding-bottom:0;
    }
    .photos-list-view-des {
      min-height: 50px;
      @include size1416;
    }
    .photos-list-view-info {
      position: absolute;
      min-height:62px;
      bottom: 5px;
      border-top: solid 2px $exec-greyborder;
      margin-top:5px;
      font-size: .75rem;
      a {
        display: inline-block;
        text-decoration: underline;
        margin-right: 3px;
        &:hover {
          text-decoration: none;
          background-color: $exec-greyborder;
        }
      }
    }
  }
  .recent-photo-albums {
    display:flex;
    flex-direction: row;
    .photos-col {
      position: relative;
      display: inline-flex;
      height: 370px;
      .all-post-image img {
        width:100%;
        height:auto;
      }
      .all-post-info {
        .all-post-title {
          min-height:50px;
        }
        .all-post-date {
          margin: 8px 0;
          @include size1416;
        }
        .all-post-comments-likes {
          position:absolute;
          bottom:5px;
          @include size1416;
          .image-count, .all-post-comments {
            display: inline-block;
            margin-right:7px;
          }
        }
      }
    }
  }
  #image-load {
    .photos-view-links {
      display: inline-flex;
      .photo-links-info {
        margin-top:5px;
        a {
          text-decoration: underline;
          margin-right:5px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .photo-link-pager {
      display: inline-flex;
      float:right;
      .photo-pager-left a,
      .photo-pager-right a {
        @include atwork-button;
        margin-right:5px;
        margin-bottom: 5px;
        @include size1416;
      }
    }
    .photos-image {
      vertical-align: top;
      img {
        width:100%;
      }
    }
  }
  #photos-default {
    h2:nth-of-type(1), h2:nth-of-type(2) {
      background-color:$comment-blue;
      padding:3px 10px;
      text-transform: uppercase;
      font-size: initial;
      margin-bottom:10px;
    }
    h2:nth-of-type(3), h2:nth-of-type(4) {
      background-color:$icon-grey;
      padding:3px 10px;
      text-transform: uppercase;
      font-size: initial;
      margin-bottom:10px;
      color:$white;
    }
    ul.list-group {
      flex-direction: row;
      .list-group-item {
        .photos-image-html {
          width:225px;
          height:125px;
          overflow:hidden;
          img {
            width:100%;
          }
        }
        font-size: .75rem;
        text-align: center;
      }
    }
  }
}
body.path-groups {
  .all-post-comments-likes {
    @include size1416;
    .image-count, .all-post-comments {
      display: inline-block;
      margin-right:7px;
    }
  }
}