/* Group pages and related content */

// Uses these colours for Default
// $mtBlue1:#044573; // Blue 4, 69, 115 / 044573
// $mtBlue2:#c5d5da; // Pale Blue 197, 213, 218 / c5d5da
// $mtTeal:#8acccf; // Teal 138, 204, 207 / 8acccf
// $mtGreen:#82a941; // Grass Green 130, 169, 65 / 82a941
// $mtOrange:#edb141; // Orange 237, 177, 65 / edb141

body.path-group .region-content nav.tabs ul.tabs--primary {
  display: none; // hides the edit links which were moved to the group admin menu
}
// Group content
body.path-group {
  #block-atwork-barrio-content {
    .group-page-content {
      .field--type-image {
        width:100%;
        height:auto;
        img {
          width:100%;
          height:auto;
        }
      }
    }
    h1, h2 {
      &:before {
        content:"Group: ";
      }
      @include size1824;
      font-family: 'BCSans';
      font-weight: 600;
      padding:8px 0 7px 15px;
      margin:0;
      text-transform: uppercase;
      display: block;
    }
  }
}

// Group post page
body.node--type-group-post {
  .field--type-image {
    margin-right:0;
    img {
      width:100%;
      height:auto;
    }
  } 
}
// Empty spacer box if no Group Ad Space specified
  #no-ad-space {
    display: flex;
    flex-direction: row;
    flex:1;
    height:35px;
  }
// Group pages - related group Content
// Inititial stylings for related content is located in the articles.scss file
  .group-related-content {
    section#block-views-block-related-content-block-3 {
      padding-left:0px;
      padding-right:0px;
        > h2.block-title {
          margin-bottom: 10px;
          color:$white;
          padding:8px 0 5px 10px;
        }
      }
    }

// Group Calendar and Events

.js-drupal-fullcalendar {
  tr {
    background:none;
  }
  .fc-header-toolbar {
    font-size: .85em;
  }
  .fc-head-container {
    table {
      margin: 0;
    }
    .fc-widget-header {
      color: $text;
      background-color: $white;
    }
  }
  .fc-widget-content {
    table {
      margin:0px;
      tr {
        border-bottom-color: #CCC;
      }
      td.fc-event-container {
        > a.fc-day-grid-event {
          background-color: rgb(178, 213, 230)!important;
        }
        .fc-content {
          padding: 3px 5px;
          a {
            color: $black;
          }
          .fc-time {
            padding-right: 3px;
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
.fc-unthemed td.fc-today {
  background-color: $exec-greyborder;
}
article.group-event.full {
  .author-byline {
    padding: 3px 5px;
  }
  .node_content {
    .field--type-text-with-summary {
      margin:10px 45px;
      padding: 10px;
      background-color: #B2D5E6;
      color: $black;
    }
    > p {
      display: none;
    }
    .group_event_dates {
      margin-top: 25px;
    }
  }
}

// Group and Landing Page side menus
body.path-group {
  #sidebar_first {
    aside.section {
      #block-atwork-barrio-groupadmin {
        padding:0;
        h2 {
          padding:0;
          margin:0;
          a.btn-primary {
            border-radius: 0;
          }
        }
        .draggable-dashboard {
          background-color: $exec-greyborder;
            #column-1 {
            padding:10px;
          }
        }
      }
      #block-atwork-barrio-views-block-group-menu-block-1,
      #block-atwork-barrio-views-block-group-menu-block-3 {
        .col-auto {
          padding: 0;
        }
        h2, h3 {
          //color:$white;
          text-align: center;
          padding:9px 0;
          margin:0 0 10px 0;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom:solid 2px #999;
          @include size1416;
        }
        #accordion.panel-group {
          padding:5px;
          margin-bottom: 5px;
          .panel {
            background-color:$exec-greyborder;
            padding-bottom:5px;
            border: solid 1px #CCCCCC;
          }
          h4.panel-title {
            padding: 5px 10px;
            border-bottom:solid 1px #999;
            background-color: #f5f5f5;
            @include size1416;
            font-weight: normal;
            .caret {
              display:block;
              float:right;
              margin-top: 10px;
            }
          }
          .panel-body {
            border-left:solid 1px $exec-greyborder;
            border-top:solid 1px $exec-greyborder;
            border-bottom: solid 1px #999;
            border-right:solid 1px #999;
            background-color: $white;
            margin:5px;
            padding:0px;
            a {
              display:block;
              padding:5px;
              &:hover {
                background-color:$banner-blue;
                color:$white;
              }
            }
          }
        }
        .view-content {
          margin-left:0;
          margin-right:0;
          > .views-row {
            width:100%;
          }
        }
      }
      & .block {
        padding:0;
      }
      #block-atwork-barrio-views-block-group-menu-block-3 {
        font-size: .9rem;
        .view-content{
          p {
            margin:initial;
            padding: 0 10px;
          }
          h3 {
            border-top:solid 1px $exec-greyborder;
            border-bottom:solid 1px $exec-greyborder;
            padding:3px 0;
            margin-top:5px;
            width:100%;
          }
        }
        .attachment-after {
          padding:0 10px 10px;
        }
      }
    }
  }
}

// Group Theme Switch Colours

.theme_default {
  @include theme_default_set;
}
.theme_dark {
  @include theme_deep_set;
}
.theme_bright {
  @include theme_bright_set;
}
.theme_muted {
  @include theme_muted_set;
}

// Group Admin Front panel theme info
#theme_dark,
#theme_muted,
#theme_bright,
#theme_default {
  text-align: center;
  #sw-main,
  #sw-second,
  #sw-link {
    display: inline-block;
    width: 30%;
    height:20px;
    border: solid 1px #999;
  }
}
#theme_dark {
  #sw-main {
    background-color: $grp-deep-banner;
  }
  #sw-second {
    background-color: $grp-deep-btn;
  }
  #sw-link {
    background-color: $grp-default-link;
  }
}

#theme_default {
  #sw-main {
    background-color: $grp-default-banner;
  }
  #sw-second {
    background-color: $grp-default-btn;
  }
  #sw-link {
    background-color: $grp-default-link;
  }
}

#theme_bright {
  #sw-main {
    background-color: $grp-bright-banner;
  }
  #sw-second {
    background-color: $grp-bright-btn;
  }
  #sw-link {
    background-color: $grp-default-link;
  }
}

#theme_muted {
  #sw-main {
    background-color: $grp-muted-banner;
  }
  #sw-second {
    background-color: $grp-muted-btn;
  }
  #sw-link {
    background-color: $grp-default-link;
  }
}
