/* Site wide font settings */
/* Updated October 2018 */
// BC Sans Fonts


@font-face {
    src: url('../fonts/BCSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-family: 'BCSans';
}
@font-face {
    src: url('../fonts/BCSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-family: 'BCSans';
}
@font-face {
    src: url('../fonts/BCSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-family: 'BCSans';
}
@font-face {
    src: url('../fonts/BCSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-family: 'BCSans';
}


html, body  {
    font-family: 'BCSans';
    font-size: 1rem;
    line-height: 1.6;
    p {
        color: $text;
        padding:0;
    }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: 'BCSans'!important;
  font-size: inherit;
  line-height: inherit;
}

// Heading Tags / Sizes
h1 {
    font-family: 'BCSans';
    @include size2136;
    color: $text;
    font-weight: bold;
    margin:0;
    padding-top:initial;
    padding-bottom:6px;
}
h2, h3, h4 {
  font-family: 'BCSans';
  font-weight:600;
  color: $text;
  padding-bottom:20px;
  margin:0;
}
h2 {
  @include size3110;
}
h3 {
  @include size2592;
}
h4 {
  @include size2160;
}
h5 {
  font-family: 'BCSans';
  @include size2160;
  color: $text;
  font-weight: bold;
}

// H6 tags are mainly used in Comment titles and headings. See _atwork-mixins.scss for H6 style
h6 {
  font-family: 'BCSans';
  font-weight: bold;
  @include size2160;
  letter-spacing: .025rem;
  text-transform: uppercase;
  color:$text;
  padding-top:12px;
  padding-bottom:12px;
  margin:0;
}
// Global text links
a { // initial link state
    color: $link-blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
}
