{#
/**
 * @file
 * Colorbox gallery image links with optional cover image.
 */
#}
<a href="{{ image_url }}" class="colorbox" data-colorbox-gallery="photos-gallery-{{ nid }}" title="{{ image_title }}">{{ image }}</a>
