{#
/**
 * @file user_alert.html.twig
 * Default theme implementation to present User alert data.
 *
 * This template is used when viewing User alert pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_alert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_alert') }}>
  {% if is_closeable %}<div class="user-alert-close"><a href="javascript:;" rel="{{ id }}">x</a></div>{% endif %}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
