.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#169BD5;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.flow_shape {
}
.html_button {
  font-size:12px;
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
  font-size:12px;
}
.menu_item {
}
.box_1 {
}
.box_21 {
}
.flow_shape1 {
}
.icon {
}
.headline {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.title {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.primary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.secondary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.primary_text_light {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.secondary_text_light {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
.disabled_text_light {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
.flat_button {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.status_bar_dark {
}
.title_bar_dark {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.content_bg_dark {
}
.dialog_dark {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.dialog_light {
  font-family:'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.card {
}
.shape {
}
.image1 {
  color:#000000;
}
.heading_31 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.paragraph1 {
  font-size:14px;
  text-align:left;
  line-height:20px;
}
.text_field1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.text_area1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.list_box1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.line1 {
}
.table {
  font-size:14px;
}
.droplist1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.checkbox1 {
  font-size:14px;
  text-align:left;
}
.radio_button {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.contact_chips {
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.contact_avatar {
}
.background-5 {
}
.android_flat_button {
  font-size:14px;
  color:#169BD5;
}
.hint {
  color:#999999;
}
.menu_background {
}
.menu_items {
  text-align:left;
}
.android_title_text_light {
  font-size:20px;
  color:#FFFFFF;
}
.fontawesome {
}
.paragraph2 {
  text-align:left;
}
.vertical_line {
}
.icomoon {
  font-family:'IcoMoon-Free';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
