/* Corporate / Community article pages */
.author-byline { // Author and date shown for article creation
  @include size1424;
  padding: 6px 0 18px;
  a[property~="schema:name"] {
    @include author-post;
  }
}
// Video and Image captions
p.videobyline, figcaption { // text below videos and images
  @include caption-text;
  background-color: $comment-blue;
  padding: 24px 16px;
  margin-bottom: 24px;
}
figure { // Specific to image captions
  @include inset-top-bottom;
  img {
    border-left: solid 1px $icon-grey;
    border-right: solid 1px $icon-grey;
    border-bottom: solid 1px $icon-grey;
  }
  &.align-left { //Right margin space on left-align
    margin-right:10px;
  }
  &.align-right { //Left margin space on right-align
    margin-left:10px;
  }
  figcaption {
    margin-bottom:0px;
  }
}
// Executive Page alterations
article.Executive-Message {
  //border-left: solid 50px $exec-greyborder;
  //border-right: solid 50px $exec-greyborder;
  //margin-left: -50px;
  //margin-right:-50px;
  h1.page-title, .author-byline {
    background-color: $exec-greyborder;
    padding-left: 10px;
  }
  h1.page-title {
    border-top:solid 20px darken($exec-greyborder,20);
    padding-top:10px;
  }
  .field--type-text-with-summary {
    margin-top: 10px;
  }
  .csv-feed .feed-icon {
    background-color:$white;
  }
}
// Hides the Skype call icon
span.baec5a81-e4d6-4674-97f3-e9220f0136c1 {
  a[href="#"] {
    display: none!important;
  }
}

// Poll article pages - These are entity based content and not node node__content
.poll-view.form-group {
  legend {
    display: none; // Hides the legend field that was showing a bottom-border line
  }
  .field--name-field-title { // Poll article title
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      @include size3236;
      color: $text;
      font-weight: bold;
      margin:0;
      padding-top:24px;
      padding-bottom:6px;
    }
    .field--item:nth-of-type(3) { //  Poll author byline
      @include size1424;
      padding: 6px 0 18px;
      a[property~="schema:name"] {
        @include author-post;
      }
    }
    form.poll-view-form {
      margin:20px 0;
      border:solid 10px darken($comment-blue, 40%);
      .atwork_poll_box {
        padding: 0 25px;
        h3.poll-results-title {
          display:none; // Hides the title "Results" from the form after voting.
        }
        h3.poll-question {
          text-align: center;
        }
      }
      .poll {
        padding: 0 25px;
        h3.poll-results-title {
          text-align: center;
        }
        dl {
          .choice-title {
            @include size1624;
            font-weight: normal;
          }
          .choice-result {
          .foreground,
          .bar {
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              background-color: $white;
              border: solid 1px $exec-greyborder;
            }
            .bar {
              max-width:95%;
            }
          }
          dt:nth-of-type(4n+1) + dd {
            .foreground {
              background-color:$poll-blue;
              border:none;
            }
          }
          dt:nth-of-type(5n+2) + dd {
            .foreground {
              background-color:$poll-green;
              border:none;
            }
          }
          dt:nth-of-type(3n+3) + dd {
            .foreground {
              background-color:$poll-yellow;
              border:none;
            }
          }
          dt:nth-of-type(4n+4) + dd {
            .foreground {
              background-color:$poll-teal;
              border:none;
            }
          }
          .percent {
            display: inline-block;
            float: right;
            margin-top: -25px;
            border: solid 2px #0080c7;
            min-width: 35px;
            padding: 6px 0 4px;
            text-align: center;
            border-radius: 50%;
            font-size: .85rem;
          }
        }
      }
      .form-actions {
        text-align: center;
        margin-bottom: 12px;
      }
    }
}
// Program landing pages such as Premiers Awards
.page-node-type-background-page {
  .author-byline, .social-bar {
    display: none; // Hides the author name and creation date and social icons
  }
  section.col-sm-12 {
    .region-content {
      background-color: $white;
    }
    h1.page-title {
      background-color: $banner-blue;
      color: $white;
      padding-top:15px;
      padding-left:15px;
      padding-right:15px;
    }
    .field--name-body.field--type-text-with-summary {
      padding:0 0 25px;
      margin:0;
      background-color: $banner-blue;
      margin-bottom:5px;
      p {
        color:$white;
        padding-left:15px;
        padding-right:15px;
      }
    }
    #block-programtopicboxes {
      .field--name-field-program-topic-boxes {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        padding:10px;
        background-color: $comment-blue;
        .paragraph--type--program-topic-box {
          max-width:550px;
          min-height:190px;
          margin-bottom:10px;
          display: flex;
          flex-direction: column;
          background-color: $white;
          border: solid 1px #CCC;
          padding:5px 5px 0px;
          position: relative;
          .field--name-field-title {
            @include size2024;
              font-weight:bold;
              padding:5px 5px 0 5px;
              margin:0 0 0 0;
          }
          p {
            padding: 0 8px 10px 5px;
            margin:0 0 10px;
          }
          .btn {
            border-radius: 0;
            border:none;
            background-color: $banner-blue;
            color: $white;
            padding:8px 30px 5px;
            &::after {
              content: " ▴";
              color: $white;
              font-size: 32px;
              line-height: 0;
              vertical-align: inherit;
            }
          }
          .dropup {
            text-align: center;
            margin: 0;
            position: absolute;
            bottom:0;
            width:100%;
            .dropdown-menu {
              padding:3px 5px;
              left: 50%;
              right: auto;
              text-align: center;
              transform: translate(-50%, 0);
              a {
                margin:2px;
                border:solid 1px #CCC;
              }
              > li a:hover {
                background-color: $banner-blue;
                color:$white;
              }
              a[data-target="#"] {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
span .paragraph-info {
  visibility: hidden!important;
}

// Related Content Blocks
#block-views-block-related-content-block-1,
.group-related-content,
.all-group-posts,
.groups-landing {
  @include related-content;
  @include related-content-nav;
}


//Group Highlight Space on program and group landing pages
body.path-group, body.page-node-type-background-page, body.page-node-type-article, body.page-node-type-group-post {
  #block-programhighlight,
  .group-highlight,
  .field--name-field-group-highlight {
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $white;
    h2.block-title,
    .field--label:first-of-type {
      text-transform: uppercase;
      font-size: 1.125rem;
      background-color: #e6f2f9;
      padding: 8px;
      margin: 0px;
      border-left: solid 1px #E0E7E8;
      border-top: solid 1px #E0E7E8;
      border-right: solid 1px #E0E7E8;
    }
    .paragraph--type--program-group-highlight {
      display: inline-block;
      border: solid 1px $exec-greyborder;
      padding: 5px 10px;
        .field--name-field-highlight-title {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 1.125rem;
          line-height: 24px;
          color: #333333;
          font-weight: bold;
        }
        .field--name-field-highlight-text {
          margin:10px 0px;
        }
        .field--name-field-highlight-image {
          float:right;
        }
    }
  }
}

// Hide the author byline on basic pages
body.page-node-type-page {
  h1.page-title {
    margin-bottom:20px;
  }
  .author-byline {
    display:none;
  }
}
article.node--type-article .col-md-3.col-sidebar {
  img {
    width:100%;
  }
}
