/* Corporate / Community article pages */

.main-container ol.breadcrumb {// Breadcrumbs on articles, background pages, etc. Located aboce the article.
    background-color:#FFFFFF;
    margin-bottom: 0px;
    padding: 8px 0;
}
article > .node__content { // Sets the maximum width of the article section to 730px. Max width on the page is 1140px.
  max-width:730px;
  margin:0 auto;
}
//
// Stylings for the Corporate Article Page
//
// Adds bold text to Author name below article title
article {
    h1.page-title { // Article title below the main top image
        margin-top:10px;
        margin-bottom:0;
    }
    a[property~="schema:name"] { // Applies bold effect to author name/link only
        font-weight:bold;
    }
    .node__meta {
        margin-bottom: 10px;
    }
    .field--name-body {
        margin-top:12px;
    }
    table { // Default look and feel for all tables on pages.
        margin-bottom: 12px;
        caption { // Table title - black background
            background-color: $black;
            color: $white;
            text-transform: uppercase;
            text-align: center;
        }
        thead { // Column titles - blue background
            background-color:$link-blue;
            color: $white;
            th {
                font-weight: normal;
                padding: 5px;
            }
        }
        tbody { // Table alternating row colours
            tr:nth-child(odd) { // Odd numbered table rows
                background: $comment-blue;
            }
            tr:nth-child(even) { // Even numbered table rows
                background: $white;
            }
            td {
                padding: 5px;
            }
            tr th { // Table header row - column titles
                background-color:$link-blue;
                color: $white;
                padding: 10px 0;
                p { //
                    color: $white;
                    line-height: 22px;
                    font-weight: normal;
                }
            }
        }
    }
    figure { // Article images and captions
        display: table;
        img {
            display: block;
            width: auto;
        }
        figcaption {
            display: table-caption;
            caption-side: bottom;
            background: $link-blue;
            color: $white;
            padding: 5px 8px;
            font-size: .875em;
        }
        figcaption:before {
            content:url('../images/white-arrow.svg');
            display: inline-block;
            width: 14px;
            margin-right: 6px;
        }
    }
    .align-left { // padding space between left aligned images and text
        margin-right: 12px;
    }
    .align-right { // padding space between right aligned images and text
        margin-left: 12px;
    }
}

// Executive Message Layout. Contains stylings for full-width hero image
article.Executive-Message {
  padding-bottom: 85px;
  border-left: solid 22px $exec-greyborder;
  border-right: solid 22px $exec-greyborder;
    .field--type-image {
      img {
        max-width:100%;
      }
      width:100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top:-10px;
    }
    .video-embed-field-provider-youtube {
      left: 50%;
      right: 50%;
      iframe {
        width: 100vw;
        max-height:480px;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    }
    max-width:1140px;
    margin-left: auto;
    margin-right:auto;
    overflow-x:hidden;
    padding-left:10px;
    padding-right:10px;
}
.Executive-Message {
  ~section#block-views-block-comments-new-block-1 {
    margin-top:-89px!important;
  }
}
// Hero video for Video Articles
article.Video-Article {
  margin-left: auto;
  margin-right:auto;
  overflow-x:hidden;
  .video-embed-field-provider-youtube {
    left: 50%;
    right: 50%;
    iframe {
      min-width:100vw;
      max-width:1140px;
      max-height:640px;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}Honda
// Poll article pages - These are entity based content and not node node__content
.poll-view {
  max-width:730px;
  margin:0 auto;
  .field--name-field-title,
  .field--name-field-author,
  .field--name-field-author-information,
  .field--name-field-author-image,
  .field--name-field-images,
  .field--name-field-tags {
    display: none;
  }
  .vote-form {
    > fieldset {
      legend {
        display: none;
      }
      padding:0;
      margin-bottom:10px;
      border:solid 10px darken($comment-blue, 40%);
      background-color: $comment-blue;
      .fieldset-wrapper {
        background-color:$white;
        padding:15px;
        margin:15px;
      }
    }
    #edit-actions {
      text-align: center;
    }
  }
}
