/* Corporate / Community article pages */
div.alert {// Centers and floats the Alert boxes on all screens
  position: absolute;
    z-index: 1000;
    width: 50%;
    left: 25%;
    border: solid 3px green;
    text-align: center;
    background-color: rgba(223, 240, 216, .95);
    color: black;
}
.main-container ol.breadcrumb {// Breadcrumbs on articles, background pages, etc. Located aboce the article.
    background-color:#FFFFFF;
    margin-bottom: 0px;
    padding: 8px 0;
}
article > .node__content { // Sets the maximum width of the article section to 730px. Max width on the page is 1140px.
  max-width:730px;
  margin:0 auto;
}
//
// Stylings for the Corporate Article Page
//
// Adds bold text to Author name below article title
article {
    h1.page-title { // Article title below the main top image
        margin-top:10px;
        margin-bottom:0;
    }
    a[property~="schema:name"] { // Applies bold effect to author name/link only
        font-weight:bold;
    }
    .node__meta {
        margin-bottom: 10px;
    }
    .field--name-body {
        margin-top:12px;
    }
    table { // Default look and feel for all tables on pages.
        margin-bottom: 12px;
        caption { // Table title - black background
            background-color: $black;
            color: $white;
            text-transform: uppercase;
            text-align: center;
        }
        thead { // Column titles - blue background
            background-color:$link-blue;
            color: $white;
            th {
                font-weight: normal;
                padding: 5px;
            }
        }
        tbody { // Table alternating row colours
            tr:nth-child(odd) { // Odd numbered table rows
                background: $comment-blue;
            }
            tr:nth-child(even) { // Even numbered table rows
                background: $white;
            }
            td {
                padding: 5px;
            }
            tr th { // Table header row - column titles
                background-color:$link-blue;
                color: $white;
                padding: 10px 0;
                p { //
                    color: $white;
                    line-height: 22px;
                    font-weight: normal;
                }
            }
        }
    }
    figure { // Article images and captions
        display: table;
        img {
            display: block;
            width: auto;
        }
        figcaption {
            display: table-caption;
            caption-side: bottom;
            background: $link-blue;
            color: $white;
            padding: 5px 8px;
            font-size: .875em;
        }
        figcaption:before {
            content:url('../images/white-arrow.svg');
            display: inline-block;
            width: 14px;
            margin-right: 6px;
        }
    }
    .align-left { // padding space between left aligned images and text
        margin-right: 12px;
    }
    .align-right { // padding space between right aligned images and text
        margin-left: 12px;
    }
}

// Executive Message Layout. Contains stylings for full-width hero image
article.Executive-Message {
    border-left: solid 22px $exec-greyborder;
    border-right: solid 22px $exec-greyborder;
    .field--type-image {
      img {
        max-width:100%;
      }
      width:100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      margin-top:-10px;
    }
    .video-embed-field-provider-youtube {
      left: 50%;
      right: 50%;
      iframe {
        width: 100vw;
        max-height:480px;
        margin-left: -50vw;
        margin-right: -50vw;
      }
    }
    max-width:1140px;
    margin-left: auto;
    margin-right:auto;
    overflow-x:hidden;
}
// Hero video for Video Articles
article.Video-Article {
  margin-left: auto;
  margin-right:auto;
  overflow-x:hidden;
  .video-embed-field-provider-youtube {
    left: 50%;
    right: 50%;
    iframe {
      min-width:100vw;
      max-width:1140px;
      max-height:640px;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }
}
