/* Mixins specific to AtWork CSS. See the Bootstrap mixins for others */

// Font and pixel sizes and line-heights. Example: size1216 is 12px font / 16px line-height
@mixin size1216 {
  font-size: .75rem;
  line-height: 16px;
}
@mixin size1416 {
  font-size:.875rem;
  line-height: 16px;
}
@mixin size1424 {
  font-size:.875rem;
  line-height: 24px;
}
@mixin size1436 {
  font-size: .875rem;
  line-height: 36px;
}
@mixin size1624 {
  font-size: 1rem;
  line-height: 24px;
}
@mixin size1824 {
  font-size: 1.125rem;
  line-height: 24px;
}
@mixin size2024 {
  font-size: 1.125rem;
  line-height: 24px;
}
@mixin size2136 {
  font-size: 1.312rem;
  line-height: 36px;
}
@mixin size2224 {
  font-size:1.375rem;
  line-height: 24px;
}
@mixin size3236 {
  font-size: 2rem;
  line-height: 36px;
}

@mixin author-post { // Author name and date below image on articles
  font-weight:600;
  text-transform: uppercase;
}
@mixin inset-top-bottom { // top and bottom borders on inset boxes
  border-top:solid 6px $banner-blue;
  border-bottom:solid 6px $banner-blue;
}
@mixin inset-bottom { // bottom border only on inset boxes
  border-bottom:solid 6px $banner-blue;
}
@mixin caption-text { // font size and color for image/video/inset box
  @include size1416;
  color: $icon-grey;
}

@mixin atwork-button { // Text links altered to look more like a button.
  @include size1824;
  font-weight: 300;
  display: inline-block;
  background-color:$button-up;
  color:$white;
  padding: 6px 25px;
  &:hover {
    background-color: $button-hover;
    text-decoration: none;
  }
}
@mixin comment-h6 {
    font-family: 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
    font-weight: bold;
    @include size1824;
    letter-spacing: .025rem;
    text-transform: uppercase;
    color:$text;
    padding-top:12px;
    padding-bottom:12px;
    margin:0;
}
@mixin comment-byline {
  font-family: 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  @include size1416;
  padding-top:8px;
  padding-bottom:8px;
}

@mixin update-box {
  table {
    caption {
      background-color: $banner-blue;
      margin-top:24px;
      padding: 12px 0 6px;
      @include size2024;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }
    background-color: $comment-blue;
    h4 {
      padding:0;
      font-weight: 600;
    }
    margin-bottom: 12px;
  }
}
@mixin update {
  @include update-box;
  table.update {
    border-bottom: solid 6px $banner-blue;
    tbody tr td {
      padding: 16px 16px 24px;
    }
  }
}
@mixin title-table {
  @include update-box;
  table.title-table {
    th {
      background: $horz-ad;
      text-align: center;
      @include size1824;
      padding:8px 0;
    }
    td {
      padding: 16px 16px 24px;
    }
    tr:nth-child(even) {
      background:$white;
    }
    tr:nth-child(odd) {
      background:$comment-blue;
    }
  }
}
@mixin related-inset {
  @include update-box;
  table.related-inset {
    border-top:solid 6px $banner-blue;
    border-bottom:solid 6px $banner-blue;
    tr td img {
      width:100%;
      border-left: solid 1px $button-hover;
      border-right: solid 1px $button-hover;
      border-bottom: solid 1px $button-hover;
    }
    td li {
      margin-left:17px;
      &::before {
        padding-right:10px;
      }
    }
    h5 {
      margin-bottom:0;
    }
    h5, p {
      padding-left: 16px;
      padding-right:16px;
    }
    p:last-child {
      padding-bottom: 24px;
    }
  }
}
@mixin call-out { // Basic Call-out box on article pages. Creates a div tag.
  border-top: solid 9px $banner-blue;
  border-bottom: solid 9px $banner-blue;
  padding: 24px 100px;
  @include size2136;
  font-weight:bold;
  color: $text;
  margin-bottom:24px;
  margin-top: 24px;
}
@mixin quotes {
  :before { // Large left quote graphic. Uses SVG graphic.
    float:left;
    content:url('../images/left-quote.svg');
    width: 30px; // Change this vale to change the size of the SVG
    position:absolute;
    margin-left:-45px;
  }
  :after { // Large right quote graphic. Uses SVG graphic.
    content:url('../images/right-quote.svg');
    width: 30px; // Change this vale to change the size of the SVG
    position:absolute;
    margin-left:10px;
  }
}
@mixin QuoteAuthor { // Big Quotes Author. Applies the style to the author of the quote. Names must be bold in article text.
    display: block;
    @include size1436;
    line-height: normal;
    padding-top:12px;
    text-align: right;
    font-weight:normal;
    a {
      font-weight: bold;
      text-transform: uppercase;
    }
}
// Social Bar icons
@mixin button-text-reset {
  input[type=button] { // Cleans up default input button and add styling
    border:none;
    background:none;
    padding:0;
    margin:0;
    color: $link-blue;
    &:hover { // Resets color and underline on mouse hover
      color:$black;
      text-decoration: underline;
    }
  }
}

// Grid Landing Page Specific Mixins. Used on Group Landing, All Post, All Galleries
@mixin blue-grid-box {
  .view-filters {
    display: flex;
    flex-direction: column;
    flex:1;
  }
  .post-list {
    .post-list-content {
      padding:0;
      margin:10px;
      list-style: none;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row wrap;
      justify-content: space-evenly;
      > .all-posts-row {
        width:215px;
        margin-bottom:10px;
        background-color: $comment-blue;
        border:solid 1px $mtBlue2;
        .all-post-title {
          h5 {
            margin:5px 10px 0px;
          }
          display: flex;
          min-height:55px;
        }
        .all-post-date {
          @include size1216;
          margin:0 10px;
        }
        .all-post-teaser, .all-post-comments, .all-post-likes {
          @include size1216;
          padding: 5px 10px;
          margin:5px 0;
        }
        .all-post-comments-likes {
          display: flex;
          flex-direction: row;
          .all-post-comments {
            display: inline-flex;
            flex:1;
          }
          .all-post-likes {
            display: inline-flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
// Related content boxes on Article / Program / Group pages
@mixin related-content {
  @at-root {// Sets syle for H2 tag title
    #block-views-block-related-content-block-1 {
      padding-left:0px;
      padding-right:0px;
      h2.block-title {
        @include size1824;
        text-transform: uppercase;
        background-color:$banner-blue;
        color:$white;
        padding:8px 10px 5px;
        margin:10px 0 0;
      }
    }
    #block-views-block-related-content-block-3 {
      padding-left:0px;
      padding-right:0px;
      h2.block-title {
        background-color: $mtTeal;
        color:$white;
        padding:8px 10px 5px;
        margin:10px 0 0;
      }
    }
  }
  .related-wrapper {
    padding:0;
    margin:0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    .view-content {
      display: flex;
      margin:0 auto;
      flex-flow: wrap;
      .related-content {
        width:265px;
        justify-content: space-between;
        margin:10px;
        border: solid 1px $exec-greyborder;
        .no-article-image {
          background-color: $exec-greyborder;
          max-width:200px;
          height:112px;
        }
        .related-box {
          min-height: 215px;
          padding-bottom: 5px;
          .related-image {
            width:100%;
            height:111px;
            overflow: hidden;
            background-color: $exec-greyborder;
          }
        }
        .related-type, .related-title, .related-date {
          padding-left:10px;
          padding-right:10px;
        }
        .related-type, .related-date {
          @include size1216;
        }
        .related-title {
          min-height:55px;
          margin-bottom:20px;
          h5 {
            margin:0;
            padding:0;
          }
        }
        .related-type {
          padding:10px 0 0 10px;
          margin:0;
          text-transform: uppercase;
        }
      }
    }
  }
}
// Removes the bullet values used on news article page lists.
.group-related-content .related-wrapper li.related-content {
  margin-left:initial;
  &:before {
    content:none;
  }
}
@mixin related-content-nav {
  // Related content nav arrows
  div [role=navigation] {
    margin-top:125px;
    .pager {
      margin:0;
      li a {
        color:transparent;
        background-color: transparent;
        border:0;
      }
      li.previous {
        position: absolute;
        left:-6px;
        background-image: url("../images/blue-arrow-left.svg");
        background-repeat: no-repeat;
        width: 17px;
      }
      li.next {
        position: absolute;
        right: -6px;
        background-image: url("../images/blue-arrow-right.svg");
        background-repeat: no-repeat;
        width: 17px;
      }
    }
  }
}
// Employee profile and Employeee Landing page card look
@mixin profile-look {
  border: solid 2px $exec-greyborder;
  padding: 0px;
  text-align: left;
  width:100%;
  aside {
    padding:15px;
    border-right: solid 1px $exec-greyborder;
    background-color:$exec-greyborder;
    span.profile-img {
      display: block;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      overflow: hidden;
      border:solid 2px darken($exec-greyborder, 20);
      background-color: $white;
      }
    }
  section.profile-detail {
    width: 100%;
    padding: 15px;
    ul {
      list-style-type: none;
      margin:0;
      padding:0;
      }
    h3 {
      border-bottom: solid 10px $exec-greyborder;
      padding: 0;
      margin:20px 0 20px 0;
      }
  }
}

@mixin j41 {
  aside {
    background-color: $banner-blue;
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}
@mixin j42 {
  aside {
    background-color: $mtBlue2;
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}
@mixin j43 {
  aside {
    background-color: $comment-blue;
    .profile-img {
      border: solid 2px $exec-greyborder;
      background-color: $white;
    }
  }
}