/* Site Colours - include primary, panels, text, links and special */
/* Updated October 2018 */

$banner-blue: #266694; // Top banner and footer

$link-blue:#0080c7; // Links
$text:#333333; // Default colour for text
$black:#000000; // Black
$white:#FFFFFF; // White
$comment-blue:#e6f2f9; // Blue border around comment form
$icon-grey:#6B6C6C; // Icon grey if no graphics used
$exec-greyborder:#E0E7E8; // Borders used on Exec Messages
$horz-ad:#bfdff0; // Background color for horizontal text ad

// Secondary colours
$poll-blue:$banner-blue; // Poll blue
$poll-green:#41ad49; // Poll green
$poll-yellow:#FEC00F; // Poll yellow
$poll-teal:#209E92; // Poll teal


// Button Colours
$button-up: $link-blue; // Default button up colour
$button-hover: #6b6b6b; // Roll over button colour
