/* Site Colours - include primary, panels, text, links and special */

// Top banner and footer
$banner-blue: rgb(0,69,132); // #004584

// Text, links
$link-blue: rgb(0,128,199); // #0080c7
$p-color: rgb(65,64,66); // #414042
$black:rgb(0,0,0); // Black
$white: rgb(255,255,255); //White
$comment-blue: rgb(230,242,249); // #e6f2f9
$exec-greyborder: rgb(147,149,152); // #939598
