/* Primary CSS for site wide fields and lists */

// Article bulleted lists - blue. Also removes the top margin space following paragraphs
article ul, ol {
  margin-top:-10px;
  padding:0;
}
article ul {
  li {
    list-style-position: inside;
    list-style: none;
    margin-left: 25px;
    &::before{
      content:"•";
      padding-right:25px;
      color: $banner-blue;
      font-weight: bold;
      font-size: 1.125rem;
    }
  }
}
article ol {
    list-style: none;
    counter-reset: li
  li::before {
    content: counter(li);
    display: inline-block;
    width:1rem;
    margin-left: 20px;
    margin-right:20px;
    text-align: right;
    direction: rtl;
    font-size: .85rem;
  }
  li {
    counter-increment: li
  }
}
