/* Group pages and related content */

// Uses these colours for Default
// $mtBlue1:#044573; // Blue 4, 69, 115 / 044573
// $mtBlue2:#c5d5da; // Pale Blue 197, 213, 218 / c5d5da
// $mtTeal:#8acccf; // Teal 138, 204, 207 / 8acccf
// $mtGreen:#82a941; // Grass Green 130, 169, 65 / 82a941
// $mtOrange:#edb141; // Orange 237, 177, 65 / edb141

body.path-group .region-content nav.tabs ul.tabs--primary {
  display: none; // hides the edit links which were moved to the group admin menu
}
// Group content
body.path-group section.col-sm-12 {
  .region-content {
    .group-page-content{
      margin-top:-10px;
    }
  }
  .region-sidebar-nav {
    section#block-views-block-group-menu-block-3 {
      border: solid 1px $exec-greyborder;
      padding:5px 5px 10px;
      margin-bottom: 5px;
      h2.block-title {
        background-color: $mtTeal;
        color:$white;
        padding:10px;
        margin:inherit;
        font-weight: normal;
        text-align: center;
        border-bottom:solid 2px #999;
      }
      h3 {
        border-top:solid 1px $exec-greyborder;
        border-bottom: solid 1px $exec-greyborder;
        padding:0;
        margin:10px 0;
        text-align: center;
      }
      p {
        padding:0;
        margin:5px;
      }
    }
  }
  .group-page-content {
    .group-title-banner {
      padding:0;
      margin:0;
      position: relative;
      display: flex;
      flex-direction: column;
        h1, h2 {
          &:before {
            content:"Group: ";
          }
          @include size2136;
          font-family: 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
          font-weight: normal;
          padding:3px 0 0 15px;
          margin:0;
          text-transform: uppercase;
          background-color:$mtTeal;
          color:$white;
          display: block;
        }
      }
      aside.author-avatar {
        display:block;
        border: solid 3px $link-blue;
        background-image:url("../images/blue-avatar.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width:60px;
        height:60px;
      }
      .group-join, .group-leave {
        display:inline-block;
        background-color:$banner-blue;
        position: absolute;
        right:0;
        top:0;
        width:180px;
        padding: 8px 0;
        text-align: center;
        > a {
          color:$white;
          &:hover {
            text-decoration: none;
            color:$mtOrange;
          }
        }
      }
      .field--name-field-group.field--type-image img {
        border-bottom:solid 8px $mtTeal;
      }
      .field--name-field-group-description {
        padding-top:12px;
        padding-bottom: 12px;
      }
    }
  }
// Empty spacer box if no Group Ad Space specified
  #no-ad-space {
    display: flex;
    flex-direction: row;
    flex:1;
    height:35px;
  }
// Group pages - related group Content
// Inititial stylings for related content is located in the articles.scss file
  .group-related-content {
    section#block-views-block-related-content-block-3 {
      padding-left:0px;
      padding-right:0px;
        > h2.block-title {
          background-color: $mtTeal;
          margin-bottom: 10px;
          color:$white;
          padding:8px 0 5px 10px;
        }
      }
    }

// Group Admin panels
  section#block-groupadmin {
    border:solid 1px $exec-greyborder;
    padding: 5px;
    display: inline-block;
    width: 100%;
    > h2 {
      padding:0;
      margin:0;
      width:100%;
      background-color:$mtTeal;
      border-bottom:solid 2px #999;
      .btn-primary {
        border-radius: 0px;
        border-color: transparent;
      }
    }
    .view-content {
      a {
        display: block;
        border: solid 1px $exec-greyborder;
        padding:5px;
        margin-bottom:5px;
        &:hover {
          text-decoration: none;
          color:$mtBlue1;
          background-color: $mtBlue2;
        }
      }
    }
    .well {
      border-color:$mtBlue2;
      background-color:rgba($mtBlue2, .5);
      padding: 10px 10px 0;
      margin-bottom: initial;
    }
    .draggable-dashboard .draggable-dashboard-column {
      min-height:inherit;
    }
    .draggable-dashboard-block {
      border-color:$mtBlue2;
      h2 {
        padding:0;
        margin:0;
      }
    }
    .draggable-dashboard-block__content {
      display:flex;
    }
  }

// Group all posts page
.groups-landing,
.all-group-posts {
  @include blue-grid-box;
}
