// Homepage and site wide adjustments

// Development Home Page Grid
.view-frontpage {
  h3 {
    background-color: $comment-blue;
    border: solid 1px darken($exec-greyborder, 10%);
    padding: 5px 15px 2px;
    margin:10px 0px;
  }
  .hp-grid-column {
    display: block;
    max-width: 220px;
    height: 200px;
    margin-bottom: 12px;
    border: solid 1px darken($exec-greyborder, 10%);
    &.col-2 {
      margin-left:10px;
      margin-right:10px;
    }
    .no-article-image {
      display: block;
      width: 220px;
      height: 98.5px;
      background-color: $exec-greyborder;
    }
    > .views-field-title {
      padding: 10px;
      @include size1824;
    }
  }
}
