/* System wide navigation - menu CSS */

// Top Nav Bar on each page
#navbar {
  background-color: $banner-blue;
  #block-atworknext-search {
    width:30%;
    float:right;
    padding-top: 20px;
  }
  .navbar-header {
    a.logo.navbar-btn.pull-left {
      width:110px;
    }
    .navbar-nav li a {
      color:$white;
      &.is-active {
        color:$banner-blue;
      }
    }
  }
}
