/* System wide navigation - menu CSS */

// Top Nav Bar on each page
#navbar {
  #block-atworknext-search {
    width:30%;
    float:right;
    padding-top: 20px;
  }
  .navbar-header {
    @include size1416;
    width:100%;
    a.logo.navbar-btn.pull-left {
      width:110px;
      padding-left:12px;
    }
    section#block-mainnavigation {
      display: inline-block;
    }
    .navbar-nav li a {
      color:$white;
      &.is-active {
        color:$white;
      }
    }
    .menu.menu--account.nav.navbar-nav.navbar-right {
      margin-right:12px;
    }
  }
}
// Superfish main navigation
#navbar.navbar.container {
  padding-left:0;
  padding-right:0;
  @include size1416;
  padding:0;
    .next-menu-link {
      color: $exec-greyborder;
  }
  section#block-mainnavigation {
    ul.sf-menu.sf-style-none {
      float: left;
      margin-bottom: 0px;
      padding: 0;
    }
    ul.sf-menu.sf-style-none.sf-navbar {
      width: 100%;
    }
    ul.sf-menu.sf-style-none ul {
      margin: 0;
      padding: 0;
    }
    ul.sf-menu.sf-style-none a,
    ul.sf-menu.sf-style-none a:visited,
    ul.sf-menu.sf-style-none span.nolink {
      padding: 0.75em 1em;
    }
    ul.sf-menu.sf-style-none.rtl a.sf-with-ul,
    ul.sf-menu.sf-style-none.rtl span.nolink.sf-with-ul {
      padding-left: 2.25em;
      padding-right: 1em;
    }
    ul.sf-menu.sf-style-none span.sf-description {
      color: #13a;
      display: block;
      font-size: smaller;
      line-height: 1.5;
      margin: 0.25em 0 0 0;
      padding: 0;
    }
    ul.sf-menu.sf-style-none li,
    ul.sf-menu.sf-style-none.sf-navbar {
      background: transparent;
    }
    ul.sf-menu.sf-style-none li li,
    ul.sf-menu.sf-style-none.sf-navbar > li > ul {
      background: $comment-blue;
      a {
        color:$text;
      }
    }
    ul.sf-menu.sf-style-none li li li {
      background: $white;
    }
    ul.sf-menu.sf-style-none li:hover,
    ul.sf-menu.sf-style-none li.sfHover,
    ul.sf-menu.sf-style-none a:focus,
    ul.sf-menu.sf-style-none a:hover,
    ul.sf-menu.sf-style-none span.nolink:hover {
      //background: $black;
      outline: 0;
      text-decoration: none;
      color:$exec-greyborder;
    }
    div.sf-accordion-toggle.sf-style-none a {
      background: #bdd2ff;
      color: #13a;
      display: inline-block;
      font-weight: bold;
      padding: 1em 3em 1em 1em;
      position: relative;
    }
    div.sf-accordion-toggle.sf-style-none  > a:after {
      content: "≡";
      font-size: 2em;
      position: absolute;
      right: 0.5em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      speak: none;
    }
    div.sf-accordion-toggle.sf-style-none a.sf-expanded,
    ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded {
      background: #cfdeff;
    }
    div.sf-accordion-toggle.sf-style-none a.sf-expanded,
    ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > a,
    ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
      font-weight: bold;
    }
    ul.sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 499;
    }
    ul.sf-menu.sf-style-none.sf-accordion li li a,
    ul.sf-menu.sf-style-none.sf-accordion li li span.nolink {
      padding-left: 2em;
    }
    ul.sf-menu.sf-style-none.sf-accordion li li li a,
    ul.sf-menu.sf-style-none.sf-accordion li li li span.nolink {
      padding-left: 3em;
    }
    ul.sf-menu.sf-style-none.sf-accordion li li li li a,
    ul.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
      padding-left: 4em;
    }
    ul.sf-menu.sf-style-none.sf-accordion li li li li li a,
    ul.sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
      padding-left: 5em;
    }
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li a,
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
      padding-left: auto;
      padding-right: 2em;
    }
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li a,
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
      padding-left: auto;
      padding-right: 3em;
    }
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li a,
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
      padding-left: auto;
      padding-right: 4em;
    }
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li a,
    ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
      padding-left: auto;
      padding-right: 5em;
    }
    ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol,
    ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol li {
      margin: 0;
      padding: 0;
    }
    ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper a.menuparent,
    ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper span.nolink.menuparent {
      font-weight: bold;
    }

// Superfish Main menu changes
    ul#superfish-main {
      .sf-depth-1 {
        a:hover {
          background-color: $black;
          color:$exec-greyborder;
        }
      }
      .sf-depth-2 {
        a.sf-depth-2 {
          &:hover {
            background-color: $black;
            color:$exec-greyborder;
          }
        } 
        > ul {
          background-color: $white;
          border: solid 1px #CCCCCC;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          padding:5px 5px 2px;
        }
      }
      .sf-depth-2.next-menu-item.sf-no-children > a.sf-depth-2.next-menu-link {
        padding-top:13px;
      }
      .sf-depth-3 {
        a.sf-depth-3 {
          color:$text;
          display: block;
          border: solid 1px #CCCCCC;
          margin-bottom:3px;
          padding-top:8px;
          padding-bottom:4px;
          &:hover {
            color:$white;
            background-color: $banner-blue;
          }
        }
      }
    }
    .sf-depth-1.next-menu-item.menuparent.sf-breadcrumb.sfHover,
    .active-trail.sf-depth-2.next-menu-item.sf-no-children > a, 
    .active-trail.sf-depth-2.next-menu-item.menuparent > a {
      background-color: $black;
      color:$exec-greyborder;
    }
  }
  .next-menu-link.menuparent.sf-with-ul span.glyphicon.glyphicon-menu-down {
    margin-left:8px;
  }
}
// Group and Landing Page side menus
body.path-group,
body.page-node-type-program-area-content {
  .region-sidebar-nav {
    @include make-sm-column(3);
    padding-left:0px;
    padding-right:0px;
    @include size1416;
    .draggable-dashboard-block__header {
      border-bottom:solid 1px lighten($button-hover, 35%);
    }
    .group-side-menu,
    section#block-programareamenu {
      border:solid 1px $exec-greyborder;
      margin-top:10px;
      margin-bottom:5px;
      padding:5px;
      h3, h3.block-title {
        color:$white;
        text-align: center;
        padding:9px 0;
        margin:0 0 10px 0;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom:solid 2px #999;
        @include size1416;
      }
      #accordion.panel-group {
        margin-bottom: 5px;
        .panel {
          background-color:$exec-greyborder;
        }
        h4.panel-title {
          padding: 5px 10px;
          border-bottom:solid 1px #999;
          @include size1416;
          .caret {
            display:block;
            float:right;
            margin-top: 10px;
          }
        }
        .panel-body {
          border-left:solid 1px $exec-greyborder;
          border-top:solid 1px $exec-greyborder;
          border-bottom: solid 1px #999;
          border-right:solid 1px #999;
          background-color: $white;
          margin:5px;
          padding:0px;
          a {
            display:block;
            padding:5px;
            &:hover {
              background-color:$banner-blue;
              color:$white;
            }
          }
        }
      }
    }
    section#block-programareamenu {
      h2 {
        padding:inherit;
        margin:0px;
        color:$white;
        text-align: center;
        background-color: $banner-blue;
      }
      #accordion.panel-group {
        margin-bottom:0px;
        .panel-default {
          border:none;
        }
        .panel-heading {
          background-color: $comment-blue;
          margin-top:5px;
        }
        h4.panel-title {
          border-bottom: initial;
        }
      }
      h4.panel-title {
        .caret {
          display:block;
          float:right;
          margin-top: 10px;
        }
      }
    }
    aside#side-menu {
      h3 {
        background-color: $banner-blue;
      }
      a {
        display: block;
        border:solid 1px #ECECEC;
        padding:10px;
        margin-bottom:5px;
        &:hover {
          text-decoration: none;
          background-color: $banner-blue;
          color:$white;
        }
      }
      #atworkgroups-sidebar-menu {
        padding:0px;
        margin:0px;
         li {
           list-style-type: none;
         }
      }
    }
  }
  nav.tabs, .group-page-content, .node--type-program-area-content {
    @include make-sm-column(9);
    @include make-sm-column-push(0);
    margin-top:10px;
  }
  nav.tabs {
    @include size1416;
  }
}
