/* Site Wide profile CSS */
// Profile styling

body.path-my-profile, .employee-profile-page {
  #profile-card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    flex-direction: row;
    @include profile-look;
    #profile-edit a, #subscribe a {
      display: block;
      @include size1216;
      border: solid 1px $white;
      width: max-content;
      padding: 2px 5px 0;
      margin: 10px auto 0;
      text-decoration: none;
      &:hover {
        background: $banner-blue;
        color:#FFFFFF;
        text-decoration: none;
      }
    }
    &.j41 {
      @include j41;
    }
    &.j43 {
      @include j43;
    }
  }
}

// All Employees Landing page and Executive Landing Page
body.path-employees, body.path-executives {
  .all-employee-page {
    text-align: center;
    .views-row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: inline-flex;
      flex-direction: row;
      flex:0 1 auto;
      align-items: center;
      #profile-card {
        display: inline-flex;
        flex: 0 1 auto;
        justify-content: space-between;
        @include profile-look;
        width:365px;
        height: 160px;
        margin:5px;
        @include size1416;
        .no-results {
          color: lighten($black, 70%);
        }
        a {
          text-decoration: none;
        }
        li.employee a {
          font-weight: bold;
          text-transform: uppercase;
        }
        aside {
          span.profile-img {
            width:75px;
            height:75px;
          }
        }
        section.profile-detail {
          padding:10px;
          background-color: $white;
        }
        &.j41 {
          @include j41;
        }
        &.j43 {
          @include j43;
        }
      }
    }
    > .form-group {
      border: solid 1px $exec-greyborder;
      padding: 5px;
      margin-bottom: 20px;
      text-align: left;
      @include size1216;
      .form-item {
        max-width:210px;
        width: -moz-available;
        margin-bottom:3px;
      }
      label.control-label {
        font-weight: normal;
        padding-right: 5px;
      }
      input.form-control, .form-select.form-control {
        padding:0px 5px;
        height: inherit;
        color: $banner-blue;
        @include size1216;
        &:focus {
          background-color: beige;
        }
      }
      .form-item-sort-by, .form-item-sort-order{
        max-width:min-content;
        margin-right: 10px;
        .form-select.form-control {
          padding:0 20px 0 0;
        }
      }
    }
  }
  nav.pager-nav {
    @include size1216;
  }
}
body.path-executives {
  .view-filters.form-group {
    border:solid 1px transparent;
  }
}

