/* Site Wide Social Tags CSS */

// Articles tags used by Comms Team
article .field--name-field-tags,
body.path-poll .field--name-field-tags {
    margin:10px 0;
    text-transform: uppercase;
    @include size1216;
    .field--label {
        display: inline;
        float: left;
        &:after {
          content:":";
        }
    }
    .field--item {
        display: inline;
        margin-left:5px;
        padding-right: 5px;
        border-right: solid 1px $link-blue;
    }
}
// Social Bar icons
// Printer icon contained in HTML Print button


// Subscribe - Forward/Email - Flag - Reads - Comments - Likes
// Appear at the bottom of each article page
article .social-bar,
.form-group #comment-links {
  display: inline-block;
  width:100%;
  padding-left:40px;
  padding-right:40px;
  position: relative;
  @include size1416;
  @include button-text-reset;
  .footer-links, .comment-link-list {
    li {
      display:inline-block;
      padding:0;
      margin:0 10px 0 0;
      &::before {
        content:none;
      }
    }
    li {
      .flag-subscribe-node:before {
        display: block;
        float:left;
        content:url("../images/subscribe-icon.svg");
        width: 16px;
        margin-right: 3px;
        margin-top:-2px;
      }
      .printer-button:before {
        display: block;
        float:left;
        content:url("../images/printer.svg");
        width: 16px;
        margin-right: 3px;
        margin-top:-2px;
      }
      .share-link-holder:before {
        display: block;
        float:left;
        content:url("../images/share-icon.svg");
        width: 14px;
        margin-right: 3px;
        margin-top:-1px;
      }
      .flag-inappropriate,
      .flag-inappropriate-comment-flag {
        position: absolute;
        right: 2px;
        bottom: 6px;
        &::before {
          display: block;
          float:left;
          content:url("../images/flag-icon.svg");
          width: 14px;
          margin-right: 4px;
          margin-top:-1px;
        }
      }
      .likeit {
        display: inline;
        &:before {
          display: block;
          float:left;
          content:url("../images/like-icon.svg");
          width: 16px;
          margin-right: 3px;
          margin-top:-2px;
        }
        a {
          margin-right: 10px;
        }
      }
    }
  }
}
.form-group #comment-links {
  padding-left: 75px;
  padding-top:12px;
  margin-right: 0px;
  li.comment-reply a:before {
    display: block;
    float:left;
    content:url("../images/reply-arrow.svg");
    width: 20px;
    margin-right: 3px;
    margin-left:5px;
  }
}
article .field--name-field-tags { // Adjust the spacing for the tags bar to align with the social-bar
  margin:20px 25px;
}
// Share link modal pop-up
#dialog-share,
div[id*="-dialog-share"] {
  @include size1416;
  padding-top:15%;
  .modal-content {
    width:400px;
    text-align: center;
    margin:0 auto;
  }
  .modal-footer {
    display:none;
  }
  .modal-body {
    input.allowCopy {
      width:250px;
    }
  }
}
// Subscribe Modal pop-up
#drupal-modal {
  top:15%;
  div#drupal-modal--body { // Hides the scrollbars in IE
    overflow:hidden!important;
  }
  h4.modal-title {
    padding:0;
    margin:0;
  }
}
