/* Site Wide Social Tags CSS */

// Articles tags used by Comms Team
article .field--name-field-tags,
body.path-poll .field--name-field-tags {
    margin:10px 0;
    text-transform: uppercase;
    @include size1216;
    .field--label {
        display: inline;
        float: left;
        &:after {
          content:":";
        }
    }
    .field--item {
        display: inline;
        margin-left:5px;
        padding-right: 5px;
        border-right: solid 1px $link-blue;
    }
}
// Subscribe - Forward/Email - Flag - Reads - Comments - Likes
// Appear at the bottom of each article page
// Hide Dislike on all pages
article .social-bar {
  border:solid 1px aqua;
  width:100%;
  clear:both;
}
