@charset "UTF-8";
/* Mixins specific to AtWork CSS. See the Bootstrap mixins for others */
/* line 375, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_atwork-mixins.scss */
.group-related-content .related-wrapper li.related-content {
  margin-left: initial;
}

/* line 377, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_atwork-mixins.scss */
.group-related-content .related-wrapper li.related-content:before {
  content: none;
}

/* Site Colours - include primary, panels, text, links and special */
/* Updated October 2018 */
/*
// Darkens breadcrumb text.
$gray-light: lighten($gray-base, 35.0%) !default; // #595959
.breadcrumb > .active {
    color: $gray-light;
}
.btn-success {
    background-color: darken(#5cb85c, 20%);
}
.btn-info {
    background-color: darken(#31b0d5, 15%);
}
*/
/* Site wide font settings */
/* Updated October 2018 */
@font-face {
  src: url("../fonts/BCSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-family: 'BCSans';
}

@font-face {
  src: url("../fonts/BCSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-family: 'BCSans';
}

@font-face {
  src: url("../fonts/BCSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-family: 'BCSans';
}

@font-face {
  src: url("../fonts/BCSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-family: 'BCSans';
}

/* line 32, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
html, body {
  font-family: 'BCSans';
  font-size: 1rem;
  line-height: 1.6;
}

/* line 36, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
html p, body p {
  color: #333333;
  padding: 0;
  margin: 0 0 36px 0;
}

/* line 44, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h1 {
  font-family: 'BCSans';
  font-size: 1.312rem;
  line-height: 36px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 6px;
}

/* line 53, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h2, h3, h4 {
  font-family: 'BCSans';
  font-weight: 600;
  color: #333333;
  padding-bottom: 20px;
  margin: 0;
}

/* line 60, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h2 {
  font-size: 1.728em;
  line-height: 24px;
}

/* line 63, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h3 {
  font-size: 1.44em;
  line-height: 24px;
}

/* line 66, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 24px;
}

/* line 69, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h5 {
  font-family: 'BCSans';
  font-size: 1.2em;
  line-height: 24px;
  color: #333333;
  font-weight: bold;
}

/* line 77, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
h6 {
  font-family: 'BCSans';
  font-weight: bold;
  font-size: 1.2em;
  line-height: 24px;
  letter-spacing: .025rem;
  text-transform: uppercase;
  color: #333333;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

/* line 89, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
a {
  color: #406b93;
  text-decoration: none;
}

/* line 92, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 4, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main {
  padding-left: 0;
  padding-right: 0;
  font-size: .875rem;
  line-height: 16px;
  padding: 0;
}

/* line 5, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main .navbar-brand {
  height: 130px;
}

/* line 7, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main .navbar-brand .img-fluid {
  max-height: inherit;
  height: 100px;
}

/* line 16, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main .next-menu-link {
  color: #E0E7E8;
}

/* line 19, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main #CollapsingNavbar {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

/* line 25, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none {
  float: left;
  margin-bottom: 0px;
  padding: 0;
}

/* line 30, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-navbar {
  width: 100%;
}

/* line 33, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none ul {
  margin: 0;
  padding: 0;
}

/* line 37, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none a,
nav#navbar-main ul.sf-menu.sf-style-none a:visited,
nav#navbar-main ul.sf-menu.sf-style-none span.nolink {
  padding: 0.75em 1em;
}

/* line 42, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.rtl a.sf-with-ul,
nav#navbar-main ul.sf-menu.sf-style-none.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

/* line 47, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none span.sf-description {
  color: #13a;
  display: block;
  font-size: smaller;
  line-height: 1.5;
  margin: 0.25em 0 0 0;
  padding: 0;
}

/* line 55, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li,
nav#navbar-main ul.sf-menu.sf-style-none.sf-navbar {
  background: transparent;
}

/* line 59, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li li,
nav#navbar-main ul.sf-menu.sf-style-none.sf-navbar > li > ul {
  background: #e6f2f9;
}

/* line 62, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li li a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-navbar > li > ul a {
  color: #333333;
}

/* line 66, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li li li {
  background: white;
}

/* line 69, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li:hover,
nav#navbar-main ul.sf-menu.sf-style-none li.sfHover,
nav#navbar-main ul.sf-menu.sf-style-none a:focus,
nav#navbar-main ul.sf-menu.sf-style-none a:hover,
nav#navbar-main ul.sf-menu.sf-style-none span.nolink:hover {
  outline: 0;
  text-decoration: none;
  color: #E0E7E8;
}

/* line 79, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main div.sf-accordion-toggle.sf-style-none a {
  background: #bdd2ff;
  color: #13a;
  display: inline-block;
  font-weight: bold;
  padding: 1em 3em 1em 1em;
  position: relative;
}

/* line 87, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main div.sf-accordion-toggle.sf-style-none > a:after {
  content: "≡";
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  speak: none;
}

/* line 99, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main div.sf-accordion-toggle.sf-style-none a.sf-expanded,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded {
  background: #cfdeff;
}

/* line 103, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main div.sf-accordion-toggle.sf-style-none a.sf-expanded,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}

/* line 108, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}

/* line 115, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li span.nolink {
  padding-left: 2em;
}

/* line 119, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li span.nolink {
  padding-left: 3em;
}

/* line 123, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}

/* line 127, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}

/* line 131, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li a,
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}

/* line 136, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}

/* line 141, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}

/* line 146, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li a,
nav#navbar-main ul.sf-menu.sf-style-none.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}

/* line 151, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol,
nav#navbar-main ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper ol li {
  margin: 0;
  padding: 0;
}

/* line 156, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper a.menuparent,
nav#navbar-main ul.sf-menu.sf-style-none li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: bold;
}

/* line 164, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-1 a:hover {
  background-color: #000000;
  color: #E0E7E8;
}

/* line 171, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-2 a.sf-depth-2:hover {
  background-color: #000000;
  color: #E0E7E8;
}

/* line 176, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-2 > ul {
  background-color: white;
  border: solid 1px #CCCCCC;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 5px 5px 2px;
}

/* line 183, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-2.next-menu-item.sf-no-children > a.sf-depth-2.next-menu-link {
  padding-top: 13px;
}

/* line 187, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-3 a.sf-depth-3 {
  color: #333333;
  display: block;
  border: solid 1px #CCCCCC;
  margin-bottom: 3px;
  padding-top: 8px;
  padding-bottom: 4px;
}

/* line 194, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main ul#superfish-main .sf-depth-3 a.sf-depth-3:hover {
  color: white;
  background-color: #10233c;
}

/* line 201, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main .sf-depth-1.next-menu-item.menuparent.sf-breadcrumb.sfHover,
nav#navbar-main .active-trail.sf-depth-2.next-menu-item.sf-no-children > a,
nav#navbar-main .active-trail.sf-depth-2.next-menu-item.menuparent > a {
  background-color: #000000;
  color: #E0E7E8;
}

/* line 207, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_grid-nav.scss */
nav#navbar-main .next-menu-link.menuparent.sf-with-ul span.glyphicon.glyphicon-menu-down {
  margin-left: 8px;
}

/* line 5, ../../Users/cdeakin/Sites/devdesktop/atwork-barrio/web/themes/custom/atwork_barrio/scss/_articles-background-program.scss */
body.node--type-article main#content .field--name-field-header-image > img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */