.photos_access_remove,
.photos-access-password,
.photos-access-view-users {
  display: none;
}
.photos_access_updateremove {
  float: left;
  padding-right: 3px;
}
.photos-access-view-users,
.photos-access-update-remove {
  clear: both;
}
