/* /photos/{node}/rearrange */
.photos-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.photos-sortable li {
  margin: 3px 3px 3px 0;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: move;
  list-style: none;
}
.photos-sortable li img {
  max-width: 98%;
  max-height: 98%;
}
